<h1 class="page-header">设置</h1>

<%= form_tag shop_admin_settings_path(@shop.name), class: "form-horizontal" do |f| %>

  <!-- 标题 -->
  <div class="form-group">
    <label  class="col-sm-2 control-label" >问候语</label>
    <div class="col-md-5 col-sm-10">
      <%= text_area_tag :greetings, @settings[:greetings], class: 'form-control', rows: 5 %>
    </div>
    <div class="col-md-5 hidden-sm">

      <div class="well">
        <%#= user_avatar(current_user) %>
        <%= Shop::GREETINGS.sample %>
      </div>
    </div>
  </div>
<% end %>

<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">问候语</h3>
  </div>
  <div class="panel-body">


  </div>
</div>
 -->
