.cakes-container {
  position: relative;

  .alert-header {
    position: relative;
    padding: 20px 0 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;

    &.no-bottom-border {
      border-bottom: none;
    }

    .alert {
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  #search-cake-items, #cake_supplier {
    width: 320px;
  }

  .cake-items-dropdown {
    min-width: 320px;
    max-height: 300px;
    overflow-y: scroll;

    li {
      padding-right: 20px;
      padding-left: 5px;
      margin-bottom: 2px;
      cursor: pointer;

      &:hover {
        background-color: #dff0d8;
      }
    }
  }

  .cakes {
    form.button_to {
      display: inline-block;
    }

    .cake {
      img {
        height: 80px;
      }
    }
  }

  div.new-cake {
    position: absolute;
    z-index: 500;
    background-color: white;
    width: 100%;

    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;

    box-shadow: 15px 10px 5px -5px #777;
  }

  form#new_cake {
    .selected-item {
      padding: 10px;
    }

    #cake_hearts_limit {
      width: 320px;
    }
  }
}