.industry-list {
  .sync-neil-categories {
    margin-top: 10px;
  }
}

.property-list  {
  .glyphicon-resize-vertical {
    color: #5cb85c;
    font-size: 0.8em;
  }

  .property-inherits {
    .glyphicon-resize-vertical {
      color: #ddd;
    }
  }
}


.industry-item {
  display: table;
  width: 100%;

  div {
    width: 33%;
    display: table-cell;
  }

  .industry-toggle {
    line-height: 100%;
    vertical-align: middle;
    text-align: right;
  }

  .industry-delete {
    display: table-cell;
    text-align: right;
  }
}