.promotion-set-variable{
  .promotion-set{
    display: table;
    width: 100%;

    .promotion-list{
      display: table-cell;
      max-width: 0px;
      padding-right: 10px;
      border-right: 1px dashed #CCCCCC;

      .list-group-item.active {
        border-color: #515151;
      }
    }

    .promotion-selected{
      display: table-cell;
      vertical-align: top;
      width: 35%;
      padding-left: 10px;

      .control-label{
        line-height: 34px;
        margin-bottom: 15px;
      }

      .selected-promotions{
        margin: 0;
        padding: 0;

        .selected-promotion {
          display: table;
          width: 100%;
          padding: 10px;

          .promotion-name{
            display: table-cell;
          }

          .remove-promotion{
            display: table-cell;
            width: 25px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
          }

          &:hover{
            background: #EEEEEE;

            .remove-promotion{
              color: #FF2B2B;
            }
          }
        }
      }
    }
  }
}
