.edit-preview-template {
  .nav-tabs{
    border-bottom: none;
  }

  .tab-content {
    .edit-template {
      border-top: none;
      border-top-left-radius: 0;

      .panel-heading {
        border-top: 1px solid #DDDDDD;
        border-top-left-radius: 0;

        input {
          max-width: 450px;
        }

        .panel-title {
          position: relative;

          .toggle-icon {
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: 0;
            -webkit-transition: all 0.45s ease-in-out 0s;
            transition: all 0.45s ease-in-out 0s;
          }
        }
      }

      .panel-body{
        padding: 0px;
      }

      .panel-body-content {
        display: table;
        width: 100%;


        &:before, &:after {
          content: none;
        }

        .source-editor {
          display: table-cell;
          height: 400px;
          border-right: 1px solid #ccc;
          // margin-right: 200px;
        }

        .variables {
          display: table-cell;
          width: 200px;
          padding-left: 5px;
          padding-right: 5px;
          vertical-align: top;

          .btn-group-vertical {
            width: 100%;
            button  {
              width: 100%;
            }
          }
        }
      }

      .add-variable {
        width: 100%;
        margin-bottom: 10px;
        button {
          width: 100%;
          text-align: left;
        }

        span {
          float: right;
          margin: 8px 0;
        }
      }
    }

    .preview-template {
      min-height: 511px;
    }
  }

  &.down {
    .toggle-icon {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }

  .panel-footer {
    display: table;
    position: relative;
    width: 100%;

    .panel-actions {
      display: table-cell;
      width: 200px;
      vertical-align: top;

      .btn-upload {
        .qq-upload-drop-area {
          position: absolute;
          left: 200px;
          right: 0px;
          top: 0px;
          bottom: 0px;
        }
      }
    }

    .panel-attachments {
      display: table-cell;

      padding: 10px;
      .file-list {
        list-style: none;
        padding-left: 0px;
      }

      .progress {
        display: none;
        height: 5px;
      }

      .file-list {

        &>li {
          white-space: nowrap;

        }
        .icon {
          width: 16px;
          height: 16px;
        }

        .title {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        input {
          display: inline-block;
        }

        .delete {
        }
      }
    }
  }
}

#new-template {
  display: none;
}

.template-page-header {
  position: relative;

  .subject-toggle{
    position: absolute;
    right: 0;
    top: 0;
  }
}
