.edit-template {
  .panel-body {
    display: table;
    width: 100%;

    padding: 0px;
    &:before, &:after {
      content: none;
    }

    .source-editor {
      display: table-cell;
      height: 400px;
      border-right: 1px solid #ccc;
      // margin-right: 200px;
    }

    .variables {
      display: table-cell;
      width: 200px;
      padding-left: 5px;
      padding-right: 5px;
      vertical-align: top;
    }
  }
}
