.edit-template {

  .panel-heading {
    input {
      max-width: 450px;
    }
  }

  .panel-body {
    display: table;
    width: 100%;

    padding: 0px;
    &:before, &:after {
      content: none;
    }

    .source-editor {
      display: table-cell;
      height: 400px;
      border-right: 1px solid #ccc;
      // margin-right: 200px;
    }

    .variables {
      display: table-cell;
      width: 200px;
      padding-left: 5px;
      padding-right: 5px;
      vertical-align: top;

      .btn-group-vertical {
        width: 100%;
        button  {
          width: 100%;
        }
      }
    }
  }

  .add-variable {
    width: 100%;
    margin-bottom: 10px;
    button {
      width: 100%;
      text-align: left;
    }

    span {
      float: right;
      margin: 10px 0;
    }
  }

  .panel-footer {
    display: table;
    position: relative;
    width: 100%;

    .panel-actions {
      display: table-cell;
      width: 200px;
      vertical-align: top;

      .btn-upload {
        .qq-upload-drop-area {
          position: absolute;
          left: 200px;
          right: 0px;
          top: 0px;
          bottom: 0px;
        }
      }
    }

    .panel-attachments {
      display: table-cell;

      padding: 10px;
      .file-list {
        list-style: none;
        padding-left: 0px;
      }

      .progress {
        display: none;
        height: 5px;
      }

      .file-list {

        &>li {
          white-space: nowrap;

        }
        .icon {
          width: 16px;
          height: 16px;
        }

        .title {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        input {
          display: inline-block;
        }

        .delete {
        }
      }
    }
  }



}


#new-template {
  display: none;
}
