.subject-item{
  display: table;
  width: 100%;

  div {
    width: 25%;
    display: table-cell;
  }

  .subject-toggle{
    line-height: 100%;
    vertical-align: middle;
    text-align: right;
  }

  .subject-delete {
    display: table-cell;
    text-align: right;
  }
}
