.wrapper {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  min-height: 700px;
}

.demo {
  position: absolute;
  z-index: 2;
  -webkit-transform: scaleZ(1) rotateY(45deg);
  -moz-transform: scaleZ(1) rotateY(45deg);
  -ms-transform: scaleZ(1) rotateY(45deg);
  -o-transform: scaleZ(1) rotateY(45deg);
  transform: translateX(10%) scaleZ(1) rotateY(45deg);
  width: 80%;
  height: 300px;
  .window-content {
    padding: 0px;
  }

  iframe {
    height: 300px;
    padding-top: 20px;
    border: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.demo2 {
  position: absolute;
  // left: 50%;
  // margin-left: -25vw;
  // left: 300px;
  z-index: 3;
  -webkit-transform: scaleZ(1) rotateY(45deg);
  -moz-transform: scaleZ(1) rotateY(45deg);
  -ms-transform: scaleZ(1) rotateY(45deg);
  -o-transform: scaleZ(1) rotateY(45deg);
  transform: translateX(35%) translateY(40%) scaleZ(1) rotateY(45deg);
  width: 80%;
  height: 300px;
  .window-content {
    padding: 0px;
  }

  iframe {
    height: 300px;
    padding-top: 20px;
    border: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}


#source_preview {
  width: 100%;
  border: 0px;
  min-height: 500px;
}


.template-list {
  position: fixed;
  top: 0px;
  left: 240px;
  bottom: 0px;
  width: 200px;
  padding-top: 60px;
  background-color: #ccc;
  margin-bottom: 0px;

  .list-group-item {

    .remove-template {
      display: none;
    }

    &:hover .remove-template {
      display: inline-block;
      float: right;
    }
  }

  .template-images-panel {
    position: relative;

    .toggle-search-block {
      position: absolute;
      right: 5px;
      top: 5px;
    }

    .template-image-upload {
      padding-bottom: 10px;
      border-bottom: 1px dashed #EEEEEE;

      .image-preview {
        width: 100px;
        height: 100px;
        float: left;
        border-radius: 4px;
        border: 1px solid #EEEEEE;
      }

      .btn-upload {
        margin-left: 10px;
        padding: 0;
      }
    }

    .template-image-show {
      padding-top: 10px;

      .template-image-src {
        width: 30px;
        height: 30px;
      }

      .list-group {
        margin: 10px 0 0 0;
      }
    }
  }
}

.types-group {
  li>a>.glyphicon {
    border: 1px solid;
    padding: 5px;
    border-radius: 3px;
  }
}

.template-panel {
  .panel-body {
    padding: 0;
  }
}

.template-edit {
  // padding-top: 20px;
  margin-top: -1px;
  &>.panel {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}


.panel-content {
  display: table;
  width: 100%;

  .source-editor {
    display: table-cell;
    height: 400px;
    border-right: 1px solid #ccc;
    // margin-right: 200px;
  }

  .variables {
    display: table-cell;
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    vertical-align: top;

    .btn-group-vertical {
      width: 100%;

      .variable-item {
        padding: 6px 35px 6px 10px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 1px solid #CCCCCC;
        margin-bottom: -1px;
        cursor: pointer;
        position: relative;

        &:first-child {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        &:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        .variable-tools {
          position: absolute;
          right: 10px;
          top: 6px;
          display: none;

          .edit-icon, .remove-icon{
            cursor: pointer;
            color: #CCCCCC;
          }

          .edit-icon:hover {
            color: #333333;
          }

          .remove-icon:hover {
            color: #FF2B2B;
          }
        }

        &:hover {
          background: #EEEEEE;

          .variable-tools {
            display: block;
          }
        }
      }
    }
  }
}
