<div class='text-right'>
  共<%= @order.items.map(&:quantity).reduce(:+) %>件商品         
</div>
<div class='order-total'>
  <div  class='text-right total'>
    合计 <span class='amount'><%= number_to_currency @order.express_fee + @order.items.map { |item| item.price * item.quantity }.reduce(:+) %></span>元
  </div>
</div>