.locations-container{
  margin-top: 30px;
  background: #F8F8F8;

  .panel {
    background: none;
    margin-bottom: 0;
    border-radius: 0;

    .panel-heading {
      background: #FFFFFF;
    }

    &.locations-panel {
      margin-bottom: -1px;
    }
  }

  .tip-text {
    color: #FF2B2B;
    margin-left: 8px;
  }

  .location-list {
    .list-group-item {
      background: none;
      margin-bottom: 0;
      border-radius: 0;
      border-width: 0 0 1px 0;

      .location_detail {
        line-height: 36px;
      }
    }

    .list-group-item:not(.list-head) {
      .set-default {
        display: none;
      }

      &:hover {
        background: #FFFFFF;

        .set-default {
          display: inline-block;
        }
      }

      .operations{
        color: #FF2B2B;

        a {
          color: #FF2B2B;
        }
      }
    }
  }

  >li >a{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .settings {
    .set-default {
      background: #F12E3D;
      color: #FFFFFF;
      border-color: #FF2B2B;
    }

    .is-default {
      background: #FFFFFF;
      border-color: #F12E3D;
      color: #F12E3D;
    }
  }

  .location-edit-zone {
    display: none;
    padding: 15px;
    margin-top: 15px;
    border-top: 1px dashed #E5E5E5;
  }

  .new-location-panel .panel-body{
    position: relative;

    .location-mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: not-allowed;
      background: #666666;
      opacity: 0.35;
    }
  }
}

.show-locations{
  .my-locations{
    padding: 10px;
    border: 2px dashed red;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;

    &:hover{
      background-color: #ddd;
    }

    .address-choiced{
      position: absolute;
      right: 5px;
      color: red;
      top: 75px;
    }
  }
}
