{% module subject %}
{% include "style" %}
{% include "homepage_header" %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="promotions-list">
        {% include "promotion" for asd %}
      </div>
    </div>
  </div>
</div>