.chose-cards {
  .header {
    color: #777777;
    padding: 10px;
    font-size:  15px;
    background-color: white;
  }

  .cards {
    padding: 10px;

    .card {
      // background-image: image-url('card_bg.png');
      // background-size: round auto;

      margin-left: 0;
      margin-right: 0;

      font-size: 15px;
      background-color: white;
      color: #F12A39;
      padding: 20px 10px;
      margin-top: 10px;

      .promotion-info {
        .amount {
          font-size: 35px;
        }

        border-right: 1px dashed #F12A39;
      }

      &.chosen {
        &::after {
          background-image: image-url('card_chosen.png');
          background-size: 80px 80px;
          background-repeat: no-repeat;

          position: absolute;
          top: -5px;
          right: -5px;

          display: block;
          width: 80px; 
          height: 80px;
          content:"";
        }
      }
    }
  }
}

.wx-cards {
  color: #F12A39;

  img.card-logo {
    height: 24px;
  }

  .glyphicon-next {
    color: #F12A39;
  }
}