<div class='sales_men-manager'>
  <div class='alert-header'>
    <div class="alert alert-success infors" role="alert" style='display: none;'>
    </div>
    <div class="alert alert-danger errors" role="alert" style='display: none;'>
    </div>
    <div class='title'>店员设置</div>
  </div>

  <div class='search-zone'>
    <div class='searcher form-group input-group'>
      <input type='text' class='form-control' id='search-sales_men' placeholder='搜索添加新的店员'>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
    </div>
    <div class='search-results'>
      <div class='replacer'>
        <button type="button" class="close close-results" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class='results'>
        <div class='stuber' style='clear:both;'></div>
      </div>
    </div>
  </div>

  <table class='sales_men table'>
    <thead>
      <th>头像 </th>
      <th>昵称 </th>
      <th>号码 </th>
      <th>操作 </th>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>

<script type="text/template" id='sales_man-template'>
  <tr class='item' data-sales_man-id='{{ id }}'>
    <td class='avatar sales_man-avatar'>
      <img src={{ avatar_url }}>
    </td>
    <td class='nickname'>
      {{ nickname }}<br>
    </td>
    <td>
      {{ phone || "号码未设" }}
    </td>
    <td class='operations'>
      <button class='btn btn-default edit-phone'>编辑号码</button>
      <%= button_to shop_admin_sales_man_path(@shop.name, 88888888), method: :delete, remote: true, class: 'btn btn-danger', form_class: 'inline-form', data: {confirm: '确定删除该运送员？'} do %>
        删除
      <% end %>
    </td>
  </tr>
  <tr style='display: none;' class='edit-phone' data-sales_man-id='{{ id }}'>
    <td colspan='4'>
      <form class="inline-form" method="post" action="/shop_test/admin/sales_men/88888888" data-remote="true">
        <input type='hidden' name='_method' value='patch'>
        <input type='text' name='sales_man[phone]' value={{ phone }}>
        <input type='submit' value='保存'>
    </td>
  </tr>
</script>

<script type="text/template" id='new-sales_man-template'>
  <div class='item' data-sales_man-id='{{ id }}' data-toggle="tooltip" data-placement="right" title="{{ nickname }}">
    <div class='avatar'>
      <img src={{ avatar_url }}>
    </div>
    <div class='nickname'>
      {{ nickname.length > 16 ? nickname.substring(0, 12) + "..." : nickname }}
    </div>
    <div class='operations'>
      <%= button_to shop_admin_sales_men_path(@shop.name, sales_man: {user_id: 88888888}), method: :post, remote: true, class: 'btn btn-primary' do %>
        添加
      <% end %>
    </div>
  </div>
</script>

<script type="text/javascript">
(function (argument) {
  var sales_men = <%= @sales_men.to_json(methods: [:avatar_url, :nickname]).html_safe %>;
  var template = _.template($('#sales_man-template').html());
  var newTempalte = _.template($('#new-sales_man-template').html());
  var searchUrl = "<%= search_shop_admin_sales_men_path(@shop.name) %>";
  var $sales_menContainer = $('.sales_men tbody');
  var $searchResults = $('.search-results');

  $searchResults.find('.close-results').click(function(event) {
    $searchResults.hide();
    $searchResults.find('results .item').remove();
  });

  _.each(sales_men, function(sales_man) {
    var html = template(sales_man).replace(/88888888/g, sales_man.id);
    $sales_menContainer.append(html);
  });

  $('table.sales_men').on("click", "button.edit-phone", function(event) {
    var $tr = $(this).closest('tr');
    var sales_man_id = $tr.attr("data-sales_man-id");

    var $editer = $('tr.edit-phone[data-sales_man-id=' + sales_man_id + ']');

    $editer.toggle();
    $editer.find('input').focus().select();

  });

  $('#search-sales_men').keyup(function(event) {
    var q = $(this).val();
    if (q.length) {
      $.get(searchUrl, {q: q})
        .done(function(data, status, xhr) {
          $searchResults.find('.item').remove();
          if (0 == data.length) {
            var html = '<div class="item empty text-center"><span class="glyphicon glyphicon-info-sign"></span> 没有搜到与"' + q + '"有关的用户</div>'
            $searchResults.find('.stuber').before(html);
          } else {
            _.each(data, function(item) {
              var html = newTempalte(item).replace(/88888888/g, item.id);
              $searchResults.find('.stuber').before(html);
            })
          }
          $searchResults.show();
        })
    }
  });
})();
</script>