$transition-time: 0.3s;

html,body {
  height: 100%;
  position: relative;
}

body {
  width: 100%;
  overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  word-break: break-word;
}

body.item footer,
body.detail footer{
  bottom:50px;
}

body.chat footer{
  display: none;
}

body.fixed-position-patch {
  .navbar-top, .navbar-fixed-bottom {
    position: absolute;
  }
}

.menu-container {
  z-index: 1050;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 240px;
  background: #E32929;
  font-weight: 700;
  left: -240px;
  transition: all $transition-time;
  -webkit-transition: all $transition-time;

  a {
    color: #FFFFFF;
  }

  li.group-item {
    border-bottom: 1px solid #CD1C1C;
  }

  .group-title {
    display: block;
    padding: 10px 15px;
    color: #FFFFFF;
  }

  .ellipsis-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .user-info {
    position: relative;
    padding: 0px 15px 0px 60px;
    line-height: 35px;
    color: #FFFFFF;
    margin-left: -15px;

    .avatar-box {
      position: absolute;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      left: 15px;
      top: 0px;
      overflow: hidden;
    }

    .user-avatar {
      width: 100%;
      height: 100%;
    }

    .username, .shopname {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .nav.menu-sections > li > a {
    padding-left: 40px;
  }

  .nav > li > a:hover {
    background: #BF0D0D;
  }

  .nav > li > a.active {
    &, &:hover {
      background: #FFD143;
      color: #E32929;
    }
  }

  .icon-wrap {
    display: inline-block;
    width: 24px;
    text-align: center;
    margin-right: 5px;
  }

  .badge {
    position: absolute;
    top: 12px;
    right: 10px;
    background: #333333;
  }
}

.chat-notices {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  opacity: 0.6;

  .chat-notice {
    background: #666666;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 1px;

    span{
      text-decoration: underline;

      &.ignore{
        margin-left: 15px;
      }
    }
  }
}

.navbar-top {
  position: fixed;
  top: 0;
  z-index: 11;
  left: 0;
  right: 0;
  border-radius: 0;
  border-width: 1px 0;
  -webkit-transition: all $transition-time;
  transition: all $transition-time;
}

.show-left-bar {
  transform: translateX(240px);
  -webkit-transform: translateX(240px);
}


.link-table-container{
  transition: all $transition-time;
}
.main-container {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 50px;
  padding-bottom: 120px;
  background-color: #eee;
  background-image: image_url('bj.jpg');
  transition: all $transition-time;
  -webkit-transition: all $transition-time;
}

.menu-overlayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: -1px 0;
  background: #333333;
  opacity: 0.5;
  display: none;
  z-index: 999;
}
