.orders {
  margin-top: 10px;

  .orders-tab {
    height: 41px;
    margin-bottom: 20px;

    &.buyer-orders {
      li a{
        font-size: 15px;
        padding: 6px 16px;
        color: black;

        &:hover {
          color: #d9534f;
        }
      }

      li.active a {
        border: 1px solid #ddd;
        border-radius: 0;
        background-color: white;
        color: #d9534f;
        cursor: default;
        padding: 5px 15px;

        &:hover {
          color: #d9534f;
        }
      }
    }
  }

  .empty-orders {
    margin: 50px 0;
    font-size: 20px;
  }

  .order {
    .panel-heading {
      .shop {
        display: inline-block;
        float: right;

        img {
          width: 25px;
          height: 25px;
        }
      } 
    }

    .panel-body {
      ul.order-items {
        height: auto;

        li.order-item {
          list-style-type: none;
          border-bottom: 1px solid #ddd;
          padding: 10px 0;

          .avatar {
            img {
              width: 80px;
              height: 80px;
            }
          }

          .title {
            width: 200px;
          }

          .properties {
            width: 172px;
          }

          .price {
            width: 120px;
            font-weight: 700;
          }

          .quantity {
            width: 120px;
          }

          .subtotal {
            color: #f40;
            width: 120px;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.add-to-cart, .buy-now, .add-to-cart-bottom {
  cursor: pointer;
}