.orders {
  margin-top: 10px;

  .current-history {
    height: 41px;
    margin-bottom: 20px;

    &.buyer-orders {
      li a{
        font-size: 15px;
        padding: 6px 16px;
        color: black;

        &:hover {
          color: #d9534f;
        }
      }

      li.active a {
        border: 1px solid #ddd;
        border-radius: 0;
        background-color: white;
        color: #d9534f;
        cursor: default;
        padding: 5px 15px;

        &:hover {
          color: #d9534f;
        }
      }
    }
  }

  .empty-orders {
    margin: 50px 0;
    font-size: 20px;
  }

  .order {
    td {
      vertical-align: middle;
    }

    .item td {
      text-align: center;
    }

    .head {
      font-size: 16px;

      .shop {
        display: inline-block;
        float: right;
        margin-right: 10px;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }

    .avatar {
      img {
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 10px;
      }

      .title {
        font-size: 16px;
        color: black;
        display: inline-block;
        float: left;
      }
    }
    
    .operation {
      vertical-align: top;

      .finish-order {
        margin-top: 15px;
        margin-bottom: 10px;
      }

      .detail a {
        color: #d9534f;
      }
    }
  }
}

.mobile-orders {
  .current-history {
    &.buyer-orders {
      background-color: white;
      margin-bottom: 15px;
      border-bottom: 1px solid #ddd;

      li {
        margin: 0;

        a {
        font-size: 15px;
        padding: 5px 15px;
        color: black;
        text-align: center;
        }
      }

      li.active {
        border-bottom: 1px solid #d9534f;

        a {
          background-color: white;
          border-radius: 0;
          color: #d9534f;
        }
      }
    }
  }

  .order {
    .shop {
      img {
        width: 20px;
        height: 20px;
      }
    }

    .avatar {
      img {
        width: 70px;
        height: 70px;
      }

      float: left;
      margin-right: 10px;
    }

    .total {
      color: #d9534f;
    }
  }
}

.add-to-cart, .buy-now, .add-to-cart-bottom {
  cursor: pointer;
}