.btn-upload {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  // padding: 6px 12px;
  background-color: white;
  touch-action: manipulation;
  color: black;
  border-width: 1px;
  border-style: solid;

  .qq-upload-button {
    display: block;
    width: auto;
    padding: 6px 12px;
    text-align: center;
    background-color: transparent;
    border: 0px;
    color: inherit;
  }

  .qq-upload-list {
    display: none;
  }
}


.image-uploader {
  padding-left: 110px;
  position: relative;
  height: 110px;

  &>img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0px;
  }
}


.image-uploader-button {
  .qq-upload-button {
    width: 100%;
    padding: 0px;
    border-bottom: 0px;

    span {
      position: absolute;
      right: 0px;
      left: 0px;
      top: 50%;
      margin-top: -0.5em;
      text-align: center;
    }
  }
}
