<p class="lead">
  <%= activity.parameters[:name] || '' %> <b> <%= activity.action %> 开店申请: </b> <%= activity.parameters[:reason] %>
  <small>对方的联系方式为 <%= activity.parameters[:telephone] %></small>
</p>
