<header>

  <!-- <img src="http://static.bootcss.com/www/assets/img/codeguide.png" class="header-img"> -->

  <img class="header-img" src="<%= image_path('sign_bakcground_mobile.jpg')%>">
  <%= link_to icon('menu-left toggle-btn  back-btn'), new_session_path(resource_name) %>
</header>

<div class="sign-container login-container">
  <%= render '/users/sessions/login_form' %>
</div>

<div class="sign-container regist-container">
  <%= render '/users/registrations/regist_form' %>
</div>
