.my-profile {
  .head {
    width: 100%;
    padding: 50px 30px;
    height: 180px;
    background-color: blue;

    div {
      float: left;
    }

    .info {
      color: white;
      font-size: 20px;
      padding: 30px 10px;
    }

    img {
      max-height: 80px;
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
      height: 80px;
    }

  }

  .break-line {
    height: 20px;
    background-color: #ddd;
  }

  .item {
    color: #737373;
    height: 100x;
    padding: 20px 0;
    text-align: center;

    .glyphicon {
      font-size: 40px;
    }
  }

  .list {
    .order {
      border-right: 1px solid #ddd;
    }
  }

  .items {
    .item {
      border-right: 1px solid #ddd;
    }

    .glyphicon {
      color: orange;
    }
  }
}