<div class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav ie-warning bg-warning">
        你的浏览器已经太过落伍，请使用最新的浏览器
      </ul>
      <button type="button" class="navbar-toggle visible-xs-block" data-menu-name="custom">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= render "shards/navbar_logo_links" %>
      <%= render "shards/navbar_navigation" %>
    </div>
  </div>
</div>
