<div class='orders col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1'>
  <ul class="nav nav-pills orders-tab current-history buyer-orders" role="tablist">
    <li role="presentation">
      <a href="<%= shop_admin_orders_path %>"><b>未完成的订单</b></a>
    </li>
    <li role="presentation" class="active">
      <a href="javascrit: void(0)" aria-controls="current-orders" role="tab" data-toggle="tab"><b>历史订单</b></a>
    </li>

    <li class='export-excel pull-right'>
      <%= link_to export_excel_shop_admin_orders_path(finish: true, page: params[:page] || 1, per: params[:per]), target: '_blank' do %>
        <span class='glyphicon glyphicon-download-alt'></span>导出Excel 
      <% end %>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active history-orders" id="history-orders">
      <% if @orders.present? %>
        <%= render partial: "order", collection: @orders, as: :order %>
        <%= paginate @orders %>
      <% else %>
        <div class='text-center empty-orders'>没有历史订单！</div>
      <% end %>
    </div>
  </div>
</div>