<div class='orders'>
  <ul class="nav nav-tabs orders-tab" role="tablist">
    <li role="presentation" class="active">
      <a href="#current-orders" aria-controls="current-orders" role="tab" data-toggle="tab">未完成的订单</a>
    </li>
    <li role="presentation">
      <a href="<%= history_shop_admin_orders_path %>">历史订单</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active current-orders" id="current-orders">
      <% if @orders.present? %>
        <%= render partial: "order", collection: @orders, as: :order %>
        <%= paginate @orders %>
      <% else %>
        <div class='text-center empty-orders'>没有正在处理的订单！</div>
      <% end %>
    </div>
  </div>
</div>