<div class="col-sm-12">
<div class="page-header">
  <h1>快速开店<small> 选择你的主营品牌</small></h1>
</div>

<div class="brand-list clearfix">
  <%= render "brand", collection: @brands %>
</div>

<div class="pull-right">
  <%= button "以后再说", after_register_path(:distributor), context: :default, class: 'btn-lg' %>
  <%= button "下一步", after_register_path(:distributor), context: :primary, class: 'btn-lg' %>
</div>
</div>
