<div>
  <div class="include-categories">include-categories</div>
  <div class="exclude-categories">exclude-categories</div>
  <div class="include-items">include-items</div>
  <div class="exclude-items">exclude-items</div>
</div>