.shop-item {
  background: #FFFFFF;
  margin-bottom: 50px;

  .shop-item-image {
    width: 50%;
    margin: 15px auto;
    overflow: hidden;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      width: 100%\9;
      min-width: 200px;
      min-height: 200px;
    }
  }

  .media {
    width: 100%;
  }

  .item-properties {
    padding: 15px;
    background: #F12A39;
    color: #FFFFFF;
    font-weight: 700;

    .media-left {
      width: 60%;
      border-right: 1px solid #FFFFFF;
    }

    .media-right {
      width: 20%;
      border-left: 1px solid #FFFFFF;
    }
  }

  .item-shop-infos {
    padding: 15px;
    border-bottom: 1px solid #DDDDDD;

    .shop-avatar img {
      width: 75px;
      height: 75px;
    }
  }

  .item-secodary-properties {
    padding-top: 15px;
    border-bottom: 1px solid #DDDDDD;
  }

  .item-descriptions {
    padding: 15px;

    .brief-desc {
      padding: 5px 15px;
    }

    .detail-desc {
      padding: 15px 15px 0;

      .avatar img {
        max-width: 100%;
        height: auto;
        width: 100%\9;
        min-width: 200px;
        min-height: 200px;
      }
    }
  }

  .link-table {
    display: table;
    width: 100%;

    .into-shop, .fav-button, .chat {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 5px 0;
    }

    .into-shop, .fav-button{
      border-right: 1px solid #DDDDDD;
    }

    .into-shop{
      color: #333333;
    }

    .chat{
      color: #FFFFFF;
      background-color: #F42B2B;
    }
  }

  .property-item {
    .item-key {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
