.shop-item {
  >div {
    background: #fff;
  }

  overflow: hidden;
  @media (max-width: 484px){
    padding-left: 0;
    padding-right: 0;
  }

  .shop-content{
    background: #FFFFFF;
  }

  .shop-item-image {
    width: 50%;
    margin: 15px auto;
    overflow: hidden;
    text-align: center;
    @media (max-width: 484px){
      width: 100% !important;
    }
    img {
      max-width: 100%;
      height: auto;
      width: 100%\9;
      min-width: 200px;
      min-height: 200px;
    }
  }

  .media {
    width: 100%;
  }

  .price-period{
    background-color:#F12A39;
    color:#fff;
    padding: 10px;

    .promotion-price{
      font-size: 2em;
      font-weight: 700;
    }
  }
  .item-properties {
    padding: 20px 0 20px 10px;
    padding-right: 0;
    border-bottom: 1px solid #ddd;

    .media-body{
      color: #666;
    }
    .media-right:not(:last-child) {
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
    }
    .media-right {
      width: 20%;
      padding: 0 10px;
      color: #666;
    }
  }

  .minus-plus-button{
    width: 150px;
  }
  
  .item-option-warp {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
  }

  .right-shop-infos{
    width: 30%;
    border-left: 1px solid #ddd;
    padding: 15px;

    .avatar-wrap{
      background: #F2F2F2;
    }
    .shop-avatar{
      display: block;
      height: 80px;
      img {
        height: 100%;
      }
    }
  }

  @media (min-width: 768px) {
    .i768-block {
      display: block;
      border: none;
    }
  }

  @media (max-width: 768px) {
    .m768-block {
      display: block;
      border: none;
    }
  }

  .js-buy-now{
    background: #FF2B2A;
    border-color: #FF2B2A;
    &:hover {
      background: #FF2B2A;
      border-color: #FF2B2A;
    }
  }
  .add-to-cart {
    background: #FF962F;
    border-color: #FF962F;
    &:hover {
      background: #FF962F;
      border-color: #FF962F;
    }
  }

  .item-shop-infos {
    padding: 15px;

    .shop-avatar img {
      width: 75px;
      height: 75px;
    }
  }

  .item-secodary-properties {
    padding: 15px;
  }

  .item-descriptions {
    padding: 15px;

    .brief-desc {
      padding: 5px 15px;
    }

    .detail-desc {
      padding: 15px 15px 0;

      .avatar img {
        max-width: 100%;
        height: auto;
        width: 100%\9;
        min-width: 200px;
        min-height: 200px;
      }
    }
  }

// 
}
.item-sale-options {
  padding: 10px;
  .media-left,
  .media-right{
    text-align: justify;
    white-space: nowrap;
    .form-group {
      margin: 0;
    }
  }
  .nav > li > a {
    padding: 6px 12px;
  }
  .minus_plus_input.form-control{
    border-left: none;
  }
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #fff;
    color: #333;
    border: 1px solid #F12A39;
    border-radius: 0;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-left: 5px solid transparent;
      border-right: 5px solid #F12A39;
      border-bottom: 5px solid #F12A39;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      color: #fff;
    }
  }
}

.item-link-table-container{
  background-color:#f0f0f0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  .link-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid #ddd;
    height: 50px;

    .into-shop,
    .fav-button,
    .cart-button,
    .buy-button,
    .chat {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 5px 0;
    }

    .into-shop,
    .fav-button,
    .fav-button {
      border-right: 1px solid #DDDDDD;
    }

    .into-shop{
      color: #333333;
    }

    .chat{
      color: #FFFFFF;
      background-color: #F42B2B;
    }
    .buy-button{
      background:#f60;
      color: #fff;
      text-decoration: none;
    }

    .contact-button {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      text-align: center;
      background-color: #F42B2B;
      color: #FFFFFF;

      input[type=submit] {
        position: absolute;
        border: none;
        outline: none medium;
        background-color: #F42B2B;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        min-height: 50px;
      }
    }
  }

  .property-item {
    .item-key {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
