.shop-item {
  background: #FFFFFF;
  margin-bottom: 50px;

  .shop-item-image {
    width: 50%;
    margin: 15px auto;
    overflow: hidden;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      width: 100%\9;
      min-width: 200px;
      min-height: 200px;
    }
  }

  .media {
    width: 100%;
  }

  .price-period{
    background-color:#F12A39;
    color:#fff;
    padding: 10px;

    .promotion-price{
      font-size: 2em;
      font-weight: 700;
    }
  }
  .item-properties {
    margin: 15px 0;

    .media-left {
      width: 60%;
    }

    .media-body{
      color: #666;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
    }
    .media-right {
      width: 20%;
      color: #666;
    }
  }

  .item-shop-infos {
    margin: 15px 0;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;

    .shop-avatar img {
      width: 75px;
      height: 75px;
    }
  }

  .item-secodary-properties {
    margin: 15px 0;
  }

  .item-descriptions {
    padding: 15px;

    .brief-desc {
      padding: 5px 15px;
    }

    .detail-desc {
      padding: 15px 15px 0;

      .avatar img {
        max-width: 100%;
        height: auto;
        width: 100%\9;
        min-width: 200px;
        min-height: 200px;
      }
    }
  }

  .link-table {
    display: table;
    table-layout: fixed;
    width: 100%;

    .into-shop,
    .fav-button,
    .cart-button,
    .buy-button,
    .chat {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 5px 0;
    }

    .into-shop,
    .fav-button,
    .fav-button {
      border-right: 1px solid #DDDDDD;
    }

    .into-shop{
      color: #333333;
    }

    .chat{
      color: #FFFFFF;
      background-color: #F42B2B;
    }
    .buy-button{
      background:#f60;
      color: #fff;
      text-decoration: none;
    }

    .contact-button {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      text-align: center;
      background-color: #F42B2B;
      color: #FFFFFF;

      input[type=submit] {
        position: absolute;
        border: none;
        outline: none medium;
        background-color: #F42B2B;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .property-item {
    .item-key {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
