<% unless @order.nil? %>
  <div class="chat-order-header" data-order-id="<%= @order.id %>">
    <div class="chat-image-wrap">
      <%= image_tag @order.avatar_url, class: "chat-order-image", "state-load-url" => status_of_order_path(@order) %>
    </div>
    <div class="chat-order-title">
      <%= @order.title %>
    </div>
    <div class="order-toggle-button">
      <span class="glyphicon glyphicon-menu-down toggle-icon" aria-hidden="true"></span>
    </div>
  </div>
<% end %>
