
<%= link_to chat_path(chat_item), class: "chat-item" do %>
  <%= avatar_image_tag chat_item.owner.avatar_url, class: 'chat-item-avatar' %>
  <h2><%= chat_item.owner.nickname %></h2>
  <p><%= chat_item.owner.try :last_message %></p>
<% end %>
