<div class="shop-items-container">
  <div class="btn-toolbar category-toolbar" role="toolbar" >
    <div style="1px solid #CCC;">
      <div class="col-xs-12 col-md-6 item-filters">
        <div class="btn-groups">
          <button type="button" class="btn btn-default dropdown-toggle btn-category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            分类
            <span class="caret"></span>
          </button>

          <button type="button" class="btn btn-default dropdown-toggle btn-brand" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            品牌
            <span class="caret"></span>
          </button>
        </div>

        <div class="search-area">
          <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">
            <span class="glyphicon glyphicon-search"></span>
          </span>
        </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 outer-container">
        <div class="btn-group pull-right">
          <%= link_to new_shop_admin_item_path(@shop.name), class: "btn btn-success btn-add" do%>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            新增
          <% end %>
        </div>
        <div class="breadcrumb-container">
          分类路径:
          <ol class="breadcrumb"></ol>
        </div>
      </div>
    </div>
  </div>

  <div class="category-panel">
    <div class="category-wrap">
      <div class="btn-left"></div>
      <div class="category-list"></div>
      <div class="btn-right"></div>
    </div>
  </div>

  <div class="brand-panel">
    <div class="brand-wrap">
      <div class="btn-left"></div>
      <div class="brand-list clearfix">
        <%= render partial: "brand", collection: @brands %>
      </div>
      <div class="btn-right"></div>
    </div>
  </div>
<!--
  <div class="panel panel-default category-panel">
    <div class="panel-heading">
      <h3 class="panel-title">
        分类
        <ol class="breadcrumb">

        </ol>
      </h3>
    </div>
    <div class="panel-body">

    </div>
  </div> -->
  <div class="panel panel-default items-panel">
    <div class="panel-heading">
      <h3 class="panel-title">
        店铺商品
      </h3>
    </div>
    <div class="panel-body">
      <table class="tablesaw tablesaw-swipe table table-hover" data-tablesaw-mode="swipe" data-tablesaw-sortable >
        <thead>
          <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">商品项名</th>
          <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">所属分类</th>
          <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">零售价</th>
          <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">批发价</th>
          <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">库存</th>
          <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">是否在售</th>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <div class="panel-footer">
      <ul class="pagination"></ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  var shop_name = "<%= @shop.name %>",
      url = ['/', shop_name, '/admin/items'].join(''),
      categoryContainer = $('.category-panel .category-list'),
      itemsContainer = $('.items-panel'),
      pagination = new Paginate($('.items-panel .pagination'), 1, 25, 0)
      container = new CategoryListWrap(categoryContainer, url, 3, pagination),
      itemUrl = "<%= shop_admin_items_path(@shop.name) %>" + "/$itemSid/";

  new CategoryBreadcrumb($('.breadcrumb-container .breadcrumb'), container);
  new CategoryItems($('.items-panel tbody'), container, { url: itemUrl });
  new CategoryToolbar($('.category-toolbar'));
</script>
