<div class="panel panel-default panel-category">
  <div class="panel-heading">
    产品分类
  </div>
  <div class="panel-body">
    <div class="category-wrap">
      <div class="btn-left"></div>
      <div class="category-list"></div>
      <div class="btn-right"></div>
    </div>
  </div>
</div>

<div class="well">
  <button class="btn btn-primary btn-lg">下一步</button>
</div>

<script type="text/javascript">
  new CategoryListWrap($('.panel-category .category-list'), $('.panel-category .breadcrumb'))
</script>
