<div class="panel panel-default panel-category">
  <div class="panel-heading">
    产品分类
    <ol class="breadcrumb"></ol>
  </div>
  <div class="panel-body">
    <div class="category-wrap">
      <div class="btn-left"></div>
      <div class="category-list"></div>
      <div class="btn-right"></div>
    </div>
  </div>
</div>

<div class="well">
  <%= button_to '下一步', new_step1_shopitems_path(@shop.name), class: 'btn btn-info btn-lg', params: { category_id: 0 }, disabled: true %>
</div>

<script type="text/javascript">
  var container = new CategoryListWrap($('.panel-category .category-list'), '/categories', 5);
  new CategoryBreadcrumb($('.panel-category .breadcrumb'), container);
  new CategoryForm($('.well form'), container);
</script>
