共
<span class='total-quantity'>
  <%= @order.items.map(&:quantity).reduce(:+) %>
</span>
件商品
合计
<span class='total-total'>
  <%= number_to_currency @order.items.map { |item| item.price * item.quantity }.reduce(:+) + @order.express_fee %>
</span>
元

<div class='text-right'>
  运送费用 <%= number_to_currency @order.express_fee %>元
</div>
<div>使用优惠券*<span>2</span>
   减免<span class='total-privilege'>20</span>元
</div>

