<table class='table table-bordered'>
  <tbody>
    <tr>
      <td colspan='6'></td>
    </tr>
    <%= render partial: "order_item", collection: order.items, as: :item, locals: { order: order, supplier: order.supplier } %>
    <tr>
      <td colspan='6'>
        <h4>总计：
          <span><%= order.total %>元</span>
        </h4>
      </td>
    </tr>
  </tbody>
</table>