  <div class="wrapper" >
    <%= window "活动名称", class: 'demo' do %>
      <iframe src="http://localhost:3000/" width="100%" height="100%" class="window-frame"></iframe>
    <% end %>
    <%= window "首页", class: 'demo2' do %>
      <iframe src="http://localhost:3000/test09" width="100%" height="100%" class="window-frame"></iframe>
    <% end %>
  </div>
