<%= link_to '#', class: "list-group-item" do %>
  <!-- <div class="brand"> -->
  <%= image_tag brand.image.url(:brand), size: "64x32" %>&nbsp;&nbsp;<%= brand.title %>
    <%#= brand.title %>
  <!-- </div> -->
<% end %>
