<% if  @brands.length > 10 %>
  <% brands_group.each do |group, brands| %>
    <li class="list-group-item letter"><%= group %></li>
    <% cache [ :brand_groups, brands, brands_ids ] do %>
    <%= render partial: "brand_link", collection: brands, locals: { category: @category, region: region, brands_ids: brands_ids } %>
    <% end %>
  <% end %>
<% elsif @brands.length > 0 %>
  <% cache [ :brand_group, @brands, brands_ids ] do %>
    <%= render partial: "brand_link", collection: @brands, locals: { category: @category, region: region, brands_ids: brands_ids } %>
  <% end %>
<% else %>
  <li class="list-group-item disabled text-center no-data">没有数据</li>
<% end %>
