<!-- <div class="well"> -->
    <p>
      <% if current_user.user_type == 'distributor' %>
        <%= link_to "我要供货", after_registers_path, class: "btn btn-success btn-lg" %>
      <% elsif current_user.user_type == 'retail' %>
        <%= link_to "我要供货", upgrade_after_registers_path, class: "btn btn-success btn-lg", method: 'POST', data: { confirm: "确认升级为供货商吗？" } %>
      <% end %>
    </p>
<!-- </div> -->
