default: &default
  address: "smtp.ym.163.com"
  port: 25
  user_name: "market@wanliu.biz"
  password: "asdfasdf"

development:
  <<: *default
  domain: "http://localhost:3000/"
  url_host: "http://localhost"
  url_port: "3000"

test:
  <<: *default
  domain: "http://192.168.0.39:80/"
  url_host: "http://192.168.0.39"
  url_port: "80"


production:
  <<: *default
  domain: "http://www.wanliu.biz/"
  url_host: "http://www.wanliu.biz"
  url_port: "80"