<div class='cart col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1'>
  <div class="page-header">
    <h1>购物车
      <small>
      清单(<span class='cart-item-count'><%= current_cart.items_count %></span>)
      </small>
    </h1>
  </div>

  <div class='no-padding'>
    <% if current_cart.items.blank? %>
      <h2>你的购物车是空的</h2>
    <% else %>
      <table class='table table-bordered' style='background-color: white;'>
        <colgroup>
          <col width='30%' />
          <col width='10%' />
          <col width='20%' />
          <col width='10%' />
          <col width='20%' />
        </colgroup>
        <tr>
          <td>商品</td>
          <td>单价</td>
          <td>数量</td>
          <td>金额</td>
          <td>操作</td>
        </tr>
      </table>
      <% groups = @items.group_by {|item| item.supplier } %>
      <% groups.each do |supplier, items| %>
        <%= render partial: 'cart_group', locals: { supplier: supplier, items: items } %>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/template" id="cart-item-gifts-template">
    <div class='cart-gift' data-gift-id="{{= id }}">
      <div class='head'>
      </div>
      <div class='desc'>
        <div class='avatar'>
          <img src="{{= avatar_url }}" >
        </div>
        <div class='title-quantity'>
          <div class='title'>
            <span>
              {{= composed_title }}
            </span>
          </div>
          <div class='quantity'>
            <span>数量：{{= quantity }}</span>
          </div>
        </div>
      </div>
    </div>
</script>

<script type="text/javascript">
  (function (argument) {
    // 点击全部选中时，将下属项全部选中
    $('.select-all').change(function (event) {
      var checked = $(this).prop('checked');
      $(this).parents('form').find(':checkbox').prop('checked', checked);

      var $group = $(this).parents('.cart-group');
      CartGroup.calculateGroupTotal($group);

      // if (checked) {
      //   $(this).parents('.cart').find('.confirm-order').removeAttr('disabled');
      // } else {
      //   $(this).parents('.cart').find('.confirm-order').attr('disabled', 'disabled');
      // }
    });

    // 当有一个取消选中时，取消全部选中；当所属项全部选中时，勾选全部选中按钮
    $('.avatar input:checkbox').change(function (event) {
      var checked = $(this).prop('checked');
      var allCheckbox = $(this).parents('form').find('.cart-item input:checkbox');

      var $group = $(this).parents('.cart-group');
      CartGroup.calculateGroupTotal($group);

      if (!checked) {
        $(this).parents('form').find('.select-all').prop('checked', false);

        var allUnChecked = _.all(allCheckbox, function(item) {
          return !$(item).prop('checked');
        });

        // if (allUnChecked) {
        //   $(this).parents('.cart').find('.confirm-order').attr('disabled', 'disabled');
        // }
      } else {
        // $(this).parents('.cart').find('.confirm-order').removeAttr('disabled');

        var allChecked = _.all(allCheckbox, function(item) {
          return $(item).prop('checked');
        });

        if (allChecked) {
          $(this).parents('form').find('.select-all').prop('checked', true);
        }
      }
    });

    // 修改所购商品数量
    $('.cart-item input[name=quantity]').keyup(function (event) {
      var quantity = $(this).val()

      if (!/^[1-9]\d*$/.test(quantity)) {
        quantity = 1;
      }

      var newQuantity = 1 * quantity;
      $(this).val(newQuantity);

      CartGroup.changeQuantity(this, newQuantity);
    });

    // 通过减少按钮，修改所购商品数量
    $('.cart-item').on('click', '.btn-minus', function (event) {
      var $quantityInput = $(this).parents('.quantity').find('input');
      var quantity = 1 * $quantityInput.val();

      if (quantity > 1) {
        var newQuantity = quantity - 1;
        $quantityInput.val(newQuantity);
        CartGroup.changeQuantity($quantityInput, newQuantity);
      }
    });

    // 通过增加按钮，修改所购商品数量
    $('.cart-item').on('click', '.btn-plus', function (event) {
      var $quantityInput = $(this).parents('.quantity').find('input');
      var quantity = 1 * $quantityInput.val();
      var newQuantity = quantity + 1;

      $quantityInput.val(newQuantity);
      CartGroup.changeQuantity($quantityInput, newQuantity);
    });

    _.each($('.cart .cart-group'), CartGroup.calculateGroupTotal);
  })();
</script>