<div class="live_item">
  <div class="media">
    <div class="media-left">
      <%= image_tag live_item.avatar_url, size: "50x50" %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= live_item.title %><small><%= live_item.sid  %></small></h4>
      <p class="shop_name"><%= live_item.shop_name %></span>
    </div>
  </div>
</div>
