<div class="mobile-orders">
    <ul class="nav nav-pills orders-tab current-history buyer-orders" role="tablist">
      <li role="presentation" class="active">
        <a href="#parties" role="tab" data-toggle="tab">
          <h4>我发起的生日趴</h4>
        </a>
      </li>
      <li role="presentation">
        <a href="#blessed" role="tab" data-toggle="tab">
          <h4>我参加的生日趴</h4>
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="parties">
        <table class='table birthday-parties'>
          <thead>
            <tr>
              <th>谁过生日</th>
              <th>发起人</th>
              <th>日期</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @birthday_parties.each do |birthday_party| %>
              <%= render birthday_party %>
            <% end %>
          </tbody>
        </table>

        <%= paginate @birthday_parties %>
      </div>

      <div role="tabpanel" class="tab-pane" id="blessed">
        <table class='table birthday-parties'>
          <thead>
            <tr>
              <th>谁过生日</th>
              <th>发起人</th>
              <th>日期</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @blessed_parties.each do |birthday_party| %>
              <%= render birthday_party %>
            <% end %>
          </tbody>
        </table>

        <%= paginate @blessed_parties %>
      </div>
    </div>
</div>