@import 'alert.styl'

*
  box-sizing border-box

html 
  position relative
  min-height 100%

body 
  color #555
  margin 0
  padding 0 0 65px 0
  font-size 14px

.item-detail
  .item-poster 
    position relative

  .status-wrap 
    position absolute
    width 100%
    height 58px
    bottom 0
    background-color #FF0

  .status-wrap .time 
    color #FF1138
    bottom 0
    width 100%
    font-weight 900
    line-height 24px
    text-align center
    position absolute

  .item-poster img 
    width 100%
    height auto
    display block

.status-wrap
  .a, .b, .c, .d, .e 
    float left
    height 50px
    background-color #FF1138

  .c 
    width 60%
    bottom 18px
    display table
    position relative
    .left 
      color #FF0
      font-size 30px
      font-weight 900
      text-align center
      display table-cell
      vertical-align middle
    .right 
      color #FFF
      font-size 14px
      display table-cell
      vertical-align middle
    .right .sold span 
      background-color #D40428
      color #FFF
      border-radius 5px
      padding 3px 8px

  .a, .e 
    width 15%
  .b 
    width 5%
    background-color #E7052A
    transform skewY(-46deg)
    transform-origin 0
  .d 
    width 5%
    background-color #E7052A
    transform skewY(46deg)
    transform-origin 100%

.start-end 
  text-align center
  line-height 45px
  background-color #EBEBEB

.item-description 
  display table
  padding 15px 0
  > div
    display table-cell
  .item-title 
    padding 5px
  .participant-amonut,
  .total-amount 
    vertical-align middle
    text-align center
    width 22%
    border-left 1px solid #DDD

.users-list 
  padding 10px 5px
  border-top 1px solid #DDD
  margin-bottom 10px
  &:after 
    content ""
    display block
    clear both
  .title 
    margin-bottom 10px
  img
    display block
    float left
    width 35px
    height 35px
    margin-right 3px
    margin-bottom 3px

.countdown-board 
  display none
  margin-top 15px
  .countdown-text 
    padding 10px 15px
    background #FBCC03
    font-size 24px
    color #FF2B2B
    text-align center

.supplier-desc 
  padding 10px 5px
  position relative
  border-top 1px solid #DDD
  .avatar
    width 35px
    height 35px
    vertical-align middle

.actions 
  position fixed
  bottom 0
  width 100%
  text-align center
  
  .wait-text 
    background rgba(0, 0, 0, 0.5)
    padding 10px 15px
    color #FFFFFF

  .always-text 
    background rgba(50, 180, 50, 0.9)
    padding 10px 15px
    color #FFFFFF

  .purchase-btn 
    width 100%
    color #FFF
    border none
    outline none
    display block
    padding 10px 15px
    text-align center
    background #FF1138
    font-size 24px

  .end-text, .sold-out 
    background #333333
    color #FFFFFF
    padding 10px 15px
