@import 'alert.styl'

*
  box-sizing border-box

html 
  position relative
  min-height 100%

body 
  color #555
  margin 0
  padding 0 0 65px 0
  font-size 14px

.item-detail
  .item-poster
    position relative

  .item-poster >img 
    width 100%
    height auto
    display block
    
  .status-wrap 
    position absolute
    width 100%
    background-color #FF1138
    height 60px
    bottom 0
    display table

  .status-wrap
    .time
      width 50%
      color #FF0
      font-weight 900
      font-size 13px
      line-height 14px
      padding-left 5%
      display table-cell
      vertical-align middle
      
      .tow-dots
        font-size 30px
      
      .time-number
        background #FF0
        font-size 16px
        padding 3px
        border-radius 3px
        color #FF1138
        font-weight 900
        margin 0 1px

    .price
      width 50%
      padding 0 10px
      display table-cell
      vertical-align middle
      &:after
        content ''
        clear both
        display block
      .left 
        color #FF0
        font-size 30px
        font-weight 900
        text-align center
        display table-cell
        vertical-align middle
        padding-right 10px
        img
          width 100%
          display block
      .right 
        color #FFF
        font-size 14px
        display table-cell
        vertical-align middle
      .right .sold
        white-space nowrap
        text-align center 
        background-color #D40428
        color #FFF
        border-radius 5px
        padding 3px 8px

.start-end
  width 100%
  color #FF1138
  bottom 60px
  position relative
  text-align center
  display inline-block
  .bottom
    background-color #FFDB01
    height 7px
  .in-line
    display inline-block
    position relative
    background-color #ffdb01
    > img
      display block
      position absolute
      width 24px
      bottom 0 
      &.left
        left -24px
      &.right
        right -24px
    .time-desc
      display inline-block
      line-height 24px
      height 24px
      background-color #FFDB01
      position relative
      top 5px  

.item-description
  width 100%
  display table
  padding 15px 0
  > div
    display table-cell
  .item-title 
    padding 5px
  .participant-amonut,
  .total-amount 
    vertical-align middle
    text-align center
    width 22%
    border-left 1px solid #DDD

.users-list 
  padding 10px 5px
  border-top 1px solid #DDD
  margin-bottom 10px
  &:after 
    content ""
    display block
    clear both
  .title 
    margin-bottom 10px
  > img
    display block
    float left
    width 35px
    height 35px
    margin-right 3px
    margin-bottom 3px

.countdown-board 
  display none
  margin-top 15px
  .countdown-text 
    padding 10px 15px
    background #FBCC03
    font-size 24px
    color #FF2B2B
    text-align center

.supplier-desc 
  padding 10px 5px
  position relative
  .avatar
    width 35px
    height 35px
    vertical-align middle

.actions 
  position fixed
  bottom 0
  width 100%
  text-align center
  
  > *
    font-size 24px
  
  .wait-text 
    background rgba(0, 0, 0, 0.5)
    padding 10px 15px
    color #FFFFFF

  .always-text 
    background rgba(50, 180, 50, 0.9)
    padding 10px 15px
    color #FFFFFF

  .purchase-btn 
    width 100%
    color #FFF
    border none
    outline none
    display block
    padding 10px 15px
    text-align center
    background #FF1138

  .end-text, .sold-out 
    background #333333
    color #FFFFFF
    padding 10px 15px
