body
  margin 0
  background-color #70000C

.poster
  width 100%
  display block
    
.introduction
  padding 10px
  background-size 100% 100%
  background-repeat no-repeat
  background-image url('./images/background.jpg')
  
  .introduction-text
    overflow hidden
    margin 0
    padding 0 20px
    color #FFF
    text-align justify
    background-size 100%
    background-image url('./images/introduction-mid.png')
    p
      margin-top 0
    b
      font-size 16px
      display block
    .indent
      text-indent 2em
      margin-bottom 15px
    
  .introduction-top
  .introduction-mid
  .introduction-bottom
    width 100%
    margin auto
    display block