<div class='card_apply_templates-container'>
  <div class='alert-header'>
    <div class="alert alert-success infors" role="alert" style='display: none;'>
    </div>
    <div class="alert alert-danger errors" role="alert" style='display: none;'>
    </div>
    <div class='title'>
      <h3>编辑模板</h3>
    </div>
  </div>

  <%= render "edit_form" %>
</div>