// 手机登陆界面
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

body.sign-mobile{
  padding: 0;
  background: #fff;


  .back-btn{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: 1.4em;
  }
  
  header{
    position: relative;
    .header-img{
      min-height: 100px;
      width: 100%;
      display: block;
      margin-bottom: 5px;
    }
  }
  .sign-container{
    padding: 0 15px;
    color: #666;
    .sign-input-group{
      position: relative;
      padding: 10px;
      margin: 10px 0;
      border-bottom: 1px solid #ddd;

      .glyphicon{
        position: absolute;
        top: 11px;
        font-size: 1.4em;
      }
      input{
        width: 100%;
        outline: none;
        border: none;
        padding-left: 40px;
      }
    }
    .remenber-wrap{
      width: 60px;
      margin-left: -10px;
    }
    label,
    .link{
      font-weight: 100;
      color: #666;
      display: inline-block;
      text-decoration: none;
    }
    input[type="checkbox"]{
      margin: 0;
      vertical-align: text-bottom;
    }
    .regist_now{
      border-right: 1px solid #ddd;
      padding-right: 10px;
      margin-right: 10px;
    }
    
    .sign-btn{
      border: none;
      outline: none;
      width: 100%;
      text-align: center;
      background-color:#f10035;
      color: #fff;
      line-height:38px;
      margin: 15px 0;
      border-radius: 3px;
    }
  }
}
