<div class='delivers-manager'>
  <div class='alert-header'>
    <div class="alert alert-success infors" role="alert" style='display: none;'>
    </div>
    <div class="alert alert-danger errors" role="alert" style='display: none;'>
    </div>
    <div class='title'>运送员设置</div>
  </div>

  <div class='search-zone'>
    <div class='searcher form-group input-group'>
      <input type='text' class='form-control' id='search-delivers' placeholder='搜索添加新的运送员'>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
    </div>
    <div class='search-results'>
      <div class='replacer'>
        <button type="button" class="close close-results" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class='results'>
        <div class='stuber' style='clear:both;'></div>
      </div>
    </div>
  </div>

  <div class='delivers'>
  </div>
</div>

<script type="text/template" id='deliver-template'>
  <div class='item text-center' data-deliver-id='{{ id }}' data-toggle="tooltip" data-placement="right" title="{{ nickname }}">
    <div class='avatar deliver-avatar'>
      <img src={{ avatar_url }}>
    </div>
    <div class='nickname'>
      {{ nickname.length > 16 ? nickname.substring(0, 12) + "..." : nickname }}
    </div>
    <div class='operations'>
      <%= button_to shop_admin_deliver_path(@shop.name, 88888888), method: :delete, remote: true, class: 'btn btn-danger', data: {confirm: '确定删除该运送员？'} do %>
        删除
      <% end %>
    </div>
  </div>
</script>

<script type="text/template" id='new-deliver-template'>
  <div class='item' data-deliver-id='{{ id }}' data-toggle="tooltip" data-placement="right" title="{{ nickname }}">
    <div class='avatar'>
      <img src={{ avatar_url }}>
    </div>
    <div class='nickname'>
      {{ nickname.length > 16 ? nickname.substring(0, 12) + "..." : nickname }}
    </div>
    <div class='operations'>
      <%= button_to shop_admin_delivers_path(@shop.name, deliver: {user_id: 88888888}), method: :post, remote: true, class: 'btn btn-primary' do %>
        添加
      <% end %>
    </div>
  </div>
</script>

<script type="text/javascript">
(function (argument) {
  var delivers = <%= @delivers.to_json(methods: [:avatar_url, :nickname]).html_safe %>;
  var template = _.template($('#deliver-template').html());
  var newTempalte = _.template($('#new-deliver-template').html());
  var searchUrl = "<%= search_shop_admin_delivers_path(@shop.name) %>";
  var $deliversContainer = $('.delivers');
  var $searchResults = $('.search-results');

  $searchResults.find('.close-results').click(function(event) {
    $searchResults.hide();
    $searchResults.find('results .item').remove();
  });

  _.each(delivers, function(deliver) {
    var html = template(deliver).replace('88888888', deliver.id);
    $deliversContainer.append(html);
  });

  $('#search-delivers').keyup(function(event) {
    var q = $(this).val();
    if (q.length) {
      $.get(searchUrl, {q: q})
        .done(function(data, status, xhr) {
          $searchResults.find('.item').remove();
          if (0 == data.length) {
            var html = '<div class="item empty text-center"><span class="glyphicon glyphicon-info-sign"></span> 没有搜到与"' + q + '"有关的用户</div>'
            $searchResults.find('.stuber').before(html);
          } else {
            _.each(data, function(item) {
              var html = newTempalte(item).replace('88888888', item.id);
              $searchResults.find('.stuber').before(html);
            })
          }
          $searchResults.show();
        })
    }
  });
})();
</script>