<div class="panel-body category-body">

  <h4 style= "color: #999"><%= category.title %></h4>

  <% category.children.order(:id).each do |category| %>
    <% classes = ["btn", params[:category_id].to_i == category.id ? "btn-primary" : "btn-link" ] %>
    <% classes.push("col-xs-4 col-sm-2") %>

    <%= link_to filter_brands_path(category_id: category.id ), class: classes, data: { category: category.id } do %>
      <%= category.title %> <span class="badge"></span>
    <% end %>
  <% end %>
</div>
<div class="category-brand-list"></div>
