<div class="form-group col-sm-12">
  <%= label_tag property.title %>
  <ul class="nav nav-pills swatch_select select-<%= property.name %>">

    <% config.each do |key, cfg| %>
      <% if cfg["check"] == "1" %>
      <li role="presentation"><a href="#"><%= cfg["title"] %></a></li>
      <% end %>
    <% end %>
  </ul>
</div>
<script type="text/javascript">
  $(".swatch_select.select-<%= property.name %>>li>a").click(function(e) {
    e.preventDefault();
    $(e.currentTarget).parents("ul").find(".active").removeClass("active");
    $(e.currentTarget).parent().addClass("active");
  });
</script>
