<div class="item-link-table-container">
  <div class="link-table">
    <% if Settings.dev.feature.shop.website %>
      <%= link_to shop_site_path(@shop.name), class: "into-shop" do %>
        <span class="button-icon glyphicon glyphicon-home"></span>
        <div class="button-text">商家</div>
      <% end %>
    <% end %>

    <% if Settings.dev.feature.favorites %>
      <div class="fav-button">
        <span class="button-icon glyphicon glyphicon-star-empty"></span>
        <div class="button-text">收藏</div>
      </div>
    <% end %>

    <% if Settings.dev.feature.cart %>
      <div class="cart-button">
        <span class="button-icon glyphicon glyphicon-shopping-cart"></span>
        <div class="button-text">购物车</div>
      </div>
    <% end %>

    <% if Settings.dev.feature.purchase %>
      <a class="buy-button">
        购买
      </a>
    <% end %>

    <% if @shop.owner_id == current_user.id %>
      <div class="contact-button chat">您的店铺</div>
    <% else %>
      <%= button_to '洽谈', item_chats_path(@item.id, shop_id: @shop.id), form_class: 'contact-button chat' %>
    <% end %>
  </div>
</div>