<div class='cart mobile-cart'>
  <ul class="nav nav-pills">
    <li role="presentation" class="header-show">
      <a href="javascript: void(0)">
        <h4>购物车 <small>
          清单(<span class='cart-item-count'><%= current_cart.items_count %></span>)
        </small></h4>
      </a>
    </li>
  </ul>

  <div class="cart-groups">
    <% if current_cart.items.blank? %>
      <h2>你的购物车是空的</h2>
    <% else %>
      <% groups = @items.group_by {|item| item.supplier } %>
      <% index = 0 %>
      <% groups.each do |supplier, items| %>
        <%= render partial: 'cart_group', locals: { supplier: supplier, items: items, index: index } %>
        <% index += 1 %>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/template" id="mobile-gift-template">
  <div class='cart-gift' data-gift-id="{{= id }}">
    <div class='desc'>
      <div class='avatar'>
        <img src='{{= avatar_url }}'>
      </div>
      <div class='title-quantity'>
        <div class='title'>
          <span>
            {{= title }}
          </span>
        </div>
        <div class='quantity'>
          <span>数量：{{= quantity }}</span>
        </div>
      </div>
      <div style='clear: both;'></div>
    </div>
  </div>
</script>

<script type="text/javascript">
  if (typeof cartGroupGifts == "undefined") {
    var cartGroupGifts = {};
  }

  (function() {
    var giftTemplate =  _.template($("#mobile-gift-template").html());

    var giftRender = new GiftsRender({
      el: $('div.cart-groups'),
      cartGroupGifts: cartGroupGifts,
      giftTemplate: giftTemplate
    });
    giftRender.render();

    // 点击全部选中时，将下属项全部选中
    $('.select-all').change(function (event) {
      var checked = $(this).prop('checked');
      $(this).parents('form').find(':checkbox').prop('checked', checked);

      var $group = $(this).parents('.cart-group');
      CartGroup.calculateGroupTotal($group);

      // if (checked) {
      //   $(this).parents('.cart').find('.confirm-order').removeAttr('disabled');
      // } else {
      //   $(this).parents('.cart').find('.confirm-order').attr('disabled', 'disabled');
      // }
    });

    // 当有一个取消选中时，取消全部选中；当所属项全部选中时，勾选全部选中按钮
    $('.avatar input:checkbox').change(function (event) {
      var checked = $(this).prop('checked');
      var allCheckbox = $(this).parents('form').find('.cart-item input:checkbox');

      var $group = $(this).parents('.cart-group');
      CartGroup.calculateGroupTotal($group);

      if (!checked) {
        $(this).parents('form').find('.select-all').prop('checked', false);

        var allUnChecked = _.all(allCheckbox, function(item) {
          return !$(item).prop('checked');
        });

        // if (allUnChecked) {
        //   $(this).parents('.cart').find('.confirm-order').attr('disabled', 'disabled');
        // }
      } else {
        // $(this).parents('.cart').find('.confirm-order').removeAttr('disabled');

        var allChecked = _.all(allCheckbox, function(item) {
          return $(item).prop('checked');
        });

        if (allChecked) {
          $(this).parents('form').find('.select-all').prop('checked', true);
        }
      }
    });

    // 通过减少按钮，修改所购商品数量
    $('.cart-item').on('click', '.btn-minus', function (event) {
      var $quantityInput = $(this).parents('tr:first').find('.quantity');
      var quantity = parseInt($quantityInput.text(), 10);

      if (quantity > 1) {
        var newQuantity = quantity - 1;
        $quantityInput.text(newQuantity);
        CartGroup.changeQuantity({
          quantityInput: $quantityInput,
          newQuantity: newQuantity,
          giftRender: giftRender
        });
      }
    });

    // 通过增加按钮，修改所购商品数量
    $('.cart-item').on('click', '.btn-plus', function (event) {
      var $quantityInput = $(this).parents('tr:first').find('.quantity');
      var quantity = parseInt($quantityInput.text(), 10);
      var newQuantity = quantity + 1;

      $quantityInput.text(newQuantity);
      CartGroup.changeQuantity({
        quantityInput: $quantityInput,
        newQuantity: newQuantity,
        giftRender: giftRender
      });
    });

    _.each($('.cart .cart-group'), CartGroup.calculateGroupTotal);
  })();
</script>