.chat-order-header {
  width: 100%;
  padding: 10px;
  background: #FF2B2B;
  color: #FFFFFF;
  position: relative;
  height: 70px;
  overflow: hidden;
  padding-left: 60px;

  .chat-image-wrap{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    vertical-align: middle;

    .chat-order-image {
      width: 50px;
      height: 50px;
      display: block;
      overflow: hidden;
      border: 1px solid #666;
    }
  }

  .chat-order-title{
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 10px;
    word-break: break-all;
    max-height: 50px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .order-toggle-button{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px;
    line-height: 1;
    width: 30px;
    text-align: center;
    font-size: 22px;
    display: none;

    .toggle-icon{
      -webkit-transition: all 0.45s ease-in-out 0s;
      transition: all 0.45s ease-in-out 0s;
    }

    &.toggle-up .toggle-icon{
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }

  &.show-toggle-button{
    .chat-order-title{
      padding-right: 40px;
    }

    .order-toggle-button{
      display: block;
    }
  }
}
