.chat-order-header {
  display: table;
  width: 100%;
  padding: 10px;
  background: #FF2B2B;
  color: #FFFFFF;
  position: relative;

  .chat-image-wrap{
    display: table-cell;
    width: 50px;
    vertical-align: middle;

    .chat-order-image {
      width: 50px;
      height: 50px;
    }
  }

  .chat-order-title{
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 10px;
    word-break: break-all;
  }

  .order-toggle-button{
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 30px;
    text-align: center;
    font-size: 22px;
    display: none;

    .icon-wrap{
      position: absolute;
      top: 0;
      bottom: 0;
      display: table;
      width: 100%;
      margin: auto;
    }

    .toggle-icon{
      -webkit-transition: all 0.45s ease-in-out 0;
      transition: all 0.45s ease-in-out 0;
    }

    &.toggle-up .toggle-icon{
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }

  &.show-toggle-button{
    .chat-order-title{
      padding-right: 45px;
    }

    .order-toggle-button{
      display: block;
    }
  }
}
