    <li class="list-group-item add-item">
      <div class="desc-value">
        <%= link_to "/chats/#{@chat.id}/add/shops/#{@target.id}/items" do %>
          <button class="btn btn-default btn-add">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        <% end %>
      </div>
      添加商品
    </li>
