<li class="list-group-item">
  <%= link_to items_order_path(order) do %>
    <div class="clearfix">
      <div class="col-xs-4 col-sm-4 add-item-text">
        添加商品
      </div>
      <div class="col-xs-8 col-sm-8">
        <p class="text-right">
          <button class="btn btn-default btn-add">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </p>
      </div>
    </div>
  <% end %>
</li>
