    <li class="list-group-item add-item">
      <div class="desc-value">
        <button class="btn btn-default btn-add">
        <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
      添加商品
    </li>
