    <li class="list-group-item">
      <% if @order.buyer_id == current_anonymous_or_user.id %>
        <div class="desc-value">
          <%= @order.supplier.name %>
        </div>
        商店
      <% else %>
        <div class="desc-value">
          <%= @order.buyer.name %>
        </div>
        用户
      <% end %>
     
    </li>
