    <li class="list-group-item">
      <div class="desc-value">
        <div class="dropdown">
          <span class="toggle-button" data-toggle="dropdown" role="button">
            <span class="button-text">选择收货地址</span>
            <span class="caret"></span>
          </span>
          <ul class="dropdown-menu address-menu">
            <li><a href="javascript:void(0);" class="add-address">新增收货地址</a></li>
          </ul>
        </div>
      </div>
      收货地址
    </li>
    <!-- <li class="list-group-item">
      <div class="city-group">
        <%= select(:location, :province, options_for_select(ChinaCity.list), {prompt: '--省份--'}, {class: "city-select"}) %>
        <%= select(:location, :city, [], {prompt: "--城市--"}, { class: "city-select" } ) %>
        <%= select(:location, :region, [], {prompt: "--地区--"}, { class: "city-select" } ) %>
      </div>
    </li> -->
