<li class="list-group-item">
  <div class="chat-order-payment clearfix">
    <div class="col-xs-4 col-sm-4">
      交易方式
    </div>
    <div class="col-xs-8 col-sm-8">
      <div class="text-right">
        <div class="dropdown">
          <span class="toggle-button" data-toggle="dropdown" role="button">
            <span class="button-text">支付担保</span>
            <span class="caret"></span>
          </span>
          <ul class="dropdown-menu payment-menu">
            <li class="selected"><a href="javascript:void(0);">支付担保</a></li>
            <li><a href="javascript:void(0);">支付宝支付</a></li>
            <li><a href="javascript:void(0);">快钱支付</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</li>
