<li class="list-group-item clearfix">
  <div class="col-xs-4 col-sm-4">
    <%= @order.buyer.name %>
  </div>
  <div class="col-xs-8 col-sm-8 text-right">
    <%= @order.buyer.mobile || '暂无联系方式' %>
  </div>
</li>
