<li class="list-group-item">
  <div class="chat-order-address clearfix">
    <div class="col-xs-4 col-sm-4">收货地址</div>
    <div class="col-xs-8 col-sm-8">
      <div class="text-right">
        <div class="dropdown">
          <span class="toggle-button" data-toggle="dropdown" role="button">
            <span class="button-text">选择收货地址</span>
            <span class="caret"></span>
          </span>
          <ul class="dropdown-menu address-menu">
            <li><a href="javascript:void(0);" class="add-address">新增收货地址</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</li>

