/*
 *= require bootstrap-launcher
 *= require nprogress
 *= require nprogress-bootstrap
 *= require_tree ./_common
 *= require_tree ./admins
 *= require_self
*/

@import 'bootstrap-datetimepicker';


body {
  padding-top: 50px;
  padding-bottom: 40px;
  background: #fff;
}


body[module="signup"] {
	background: #ddd;
}

.content {
	padding-top: 20px;
}


.relative {
  position: relative;
}


.shop.left-sidebar {
  position: absolute;
}
