/*
 *= require bootstrap-launcher
 *= require nprogress
 *= require nprogress-bootstrap
 *= require _common/checkbox
 *= require _common/fileuploader
 *= require _common/upload
 *= require _common/settings
 *= require _common/brand
 *= require _common/cart
 *= require select2
 *= require select2-bootstrap
 *= require lib/range
 *= require lib/bootstrap-select
 *= require lib/window
 *= require_tree ./admins
 *= require_self
*/

@import 'bootstrap-datetimepicker';
@import "bootsy";

body {
  padding-top: 50px;
  padding-bottom: 40px;
  background: #fff;
}


body[module="signup"] {
	background: #ddd;
}

.content {
	padding-top: 20px;
}


.relative {
  position: relative;
}

.navbar-brand > img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  float: left;
}
