/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require bootstrap-launcher
 *= require nprogress
 *= require nprogress-bootstrap
 *= require photoswipe
 *= require select2
 *= require select2-bootstrap
 *= require _common/bubble
 *= require _common/animate
 *= require _common/popup
 *= require _common/checkbox
 *= require _common/upload
 *= require _common/settings
 *= require _common/brand
 *= require _common/cart
 *= require _common/order-item
 *= require _common/layout
 *= require common
 *= require lib/range
 *= require_tree ./application
 *= require_tree ./chats
 *= require_tree ./carts
 *= require_tree ./locations
 *= require_tree ./contacts
 *= require_tree ./shop_category
 *= require_tree ./sign
 *= require_self
 */
html{
  position: relative;
  min-height: 100%;
}

.navbar-brand {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar-brand > img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  float: left;
}

.caret{
  border-top: 4px solid;
}

.nav > li > a.navbar-title {
  padding-left: 0px;
}


@media (min-width: 768px) {
  .navbar-header {
    float: none;

    .navbar-toggle {
      margin-right: 0;
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .navbar-fixed-top {
    .navbar-left {
      float: left !important;
    }
  }

  .navbar-nav {
    margin: 0px;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-responsive-collapse.collapse.in {
    overflow: visible;
    .navbar-right {
      overflow: hidden;
      position: absolute;
      right: 20px;
      width: 150px;
      top: 50px;
      background-color: white;
      height: auto;
      max-height: 500px;
    }
  }

  .navbar-responsive-collapse.collapsing {
    position: absolute;
    top: 49px;
    right: 20px;
    width: 150px;
    // max-height: 400px;
    height: auto;
    background-color: white;
    padding: 0px;
    overflow: hidden;
    // -webkit-transition-property: height, visibility;
    // transition-property: height, visibility;
    // -webkit-transition-duration: 0.35s;
    // transition-duration: 0.35s;
    // -webkit-transition-timing-function: ease;
    // transition-timing-function: ease;
  }
}

.navbar-collapse .navbar-nav{
  max-height: 50px;
}

.menu-margin {
  margin-right: -15px;
}

.ie-warning {
  display: none;
}
