/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require bootstrap-launcher
 *= require nprogress
 *= require nprogress-bootstrap
 *= require _common/bubble
 *= require_tree ./application
 *= require_tree ./chats
 *= require_self
 */

body {
  background-image: image-url('bj.jpg');
  padding-top: 50px;
}

.detail .navbar-fixed-top{
  background: #FFFFFF;
}

.chat-notices{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  .chat-notice{
    background: #333333;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

    span{
      text-decoration: underline;

      &.ignore{
        margin-left: 15px;
      }
    }
  }
}


@media (max-width: 768px) {
  .navbar-fixed-top {
    .navbar-left {
      float: left !important;
    }
  }

  .navbar-nav {
    margin: 0px;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
  }
}

.navbar-collapse .navbar-nav{
  max-height: 50px;
}

.nav-avatar {
  padding-top: 10px!important;

  img {
    width: 30px;
    height: 30px;
  }
}
