.chat-list {
	background-color: #fff;
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 0;
	right: 0;
	overflow: auto;


	.chat-order {
		padding-left: 120px;
		min-height: 120px;
		
		.chat-order-image {
			position: absolute;
			left: 10px;
			width: 100px;
			height: 100px;
		}
	}


	.chat-inner {
		padding: 10px;

    .chat-items {
      display: none;
    }
    
    .item-preview-url{
      width: 100px;
      height: 100px;
    }

    h4, p {
      word-break: break-all;
    }

    p{
      position: relative;

      .inventory{
        position: absolute;
        right: 0;
        top: 0;
        line-height: 22px;
      }
    }

    .input-wrap{
      display: inline-block;
      position: relative;
      padding: 0 20px;

      input[type="text"]{
        width: 35px;
        text-align: center;
        display: inline-block;
        border: 1px solid #CCCCCC;
      }

      .icon-wrap{
        position: absolute;
        top: 0;
        width: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 0;
        padding: 0;


        &.left{
          left: 0;
          border-right: none;
        }

        &.right{
          right: 0;
          border-left: none;
        }
      }
    }

    .media{
      .media-right{
        display: table-cell;
        width: 30px;
        font-size: 15px;

        .remove-btn{
          cursor: pointer;

          &:hover{
            color: #FF2B2B;
          }
        }
      }

      .media-body{
        width: auto;
      }
    }
	}
	// padding: 10px;

	.chat {
		width: 100%;
		&.me {
			padding-left: 75px;
			
			&>img:first-child {
				position: absolute;
				left: 10px;
				width: 40px;
				height: 40px;
			}			
		}

		min-height: 75px;
		&> h2 {
			margin: 0px;
			font-size: 16px;
		}

		&.you {
			padding-right: 75px;

			&>h2 {
				text-align: right;
			}

			&>img:first-child {
				position: absolute;
				right: 10px;
				width: 40px;
				height: 40px;
			}			
		}
	}

	.record-loading {
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #9F9F9F;

    .loading-icon{
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: image-url('waiting.gif');
      vertical-align: middle;
      margin-right: 3px;
    }
  }

  .load-more{
  	height: 30px;
    line-height: 30px;
    text-align: center;
    color: #9F9F9F;

  	&:hover{
  		color: #FF6363;
  		text-decoration: underline;
  		cursor: pointer;
  	}
  }
}

.chat-navbar {
	.form-group {

		max-width: 100%;
		margin-right: 75px;
	}

}

@media (max-width: 768px) {
	.navbar-form .form-group {
		display: block;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.navbar-form {
		display: block;
  	 	margin-top: 0px; 
  		margin-bottom: 0px;
	}
}

@media (min-width: 768px) {
	.navbar-form {
		float: none !important;
		// display: block;
		// max-width: 100%;
	}

	.navbar-form .form-group {
		display: block;
		max-width: 100%;
	} 

	.navbar-form .form-control {
		display: block;
		width: 100%;
	}
}
