.chat-list {
	background-color: #fff;
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 0;
	right: 0;
	overflow: auto;


	.chat-order {
		padding-left: 120px;

		.chat-order-image {
			float: left;
			width: 100px;
			height: 100px;
		}
	}


	.chat-inner {
		padding: 10px;
	}
	// padding: 10px;

	.chat {
		width: 100%;
		&.me {
			padding-left: 75px;
			
			&>img:first-child {
				position: absolute;
				left: 10px;
				width: 40px;
				height: 40px;
			}			
		}

		min-height: 75px;
		&> h2 {
			margin: 0px;
			font-size: 16px;
		}

		&.you {
			padding-right: 75px;

			&>h2 {
				text-align: right;
			}

			&>img:first-child {
				position: absolute;
				right: 10px;
				width: 40px;
				height: 40px;
			}			
		}
	}
}

.chat-navbar {
	.form-group {

		max-width: 100%;
		margin-right: 75px;
	}

}

@media (max-width: 768px) {
	.navbar-form .form-group {
		display: block;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.navbar-form {
		display: block;
  	 	margin-top: 0px; 
  		margin-bottom: 0px;
	}
}

@media (min-width: 768px) {
	.navbar-form {
		float: none !important;
		// display: block;
		// max-width: 100%;
	}

	.navbar-form .form-group {
		display: block;
		max-width: 100%;
	} 

	.navbar-form .form-control {
		display: block;
		width: 100%;
	}
}
