.shop.navbar {
	margin-bottom: 0px;
}

.brand-board {
	height: 200px;
	background: #008080;
	padding: 20px;
  margin-top: 50px;
  position: relative;

  .shop-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 10px 0;
    background:#7f7f7f;
    background:rgba(0,0,0,0.1);

  	.shop-logo {
  		width: 50px;
  		height: 50px;
      float: left;
      margin: 0 10px;
  	}

    .name-address {
      float: left;
      color: white;

      span.name {
        line-height: 25px;
        margin: 0;
      }

      span.address {
        display: inline-block;
        line-height: 25px;
        font-size: 13px;
      }
    }
  }

}

.line-items {
  margin-top: 20px;
  margin-bottom: 20px;
  
  ul {
    padding-left: 0;
    margin-right: 0;
    width: 103%;
    margin-left: -3%;

    li.line-item {
      display: block;
      float: left;
      border: 1px solid #e1e1e1;
      width: 30%;
      margin-left: 3%;
      margin-bottom: 20px;
      height: 60px;
      overflow: hidden;
      line-height: 60px;

      a {
        display: inline-block;
        line-height: 62px;
        overflow: hidden;
        width: 100%;
        font-size: 12px;
        height: 62px;
      }

      &.first-row {
        border-top: 1px solid #e1e1e1;
      }

      &.first-col {
        border-left: 1px solid #e1e1e1;
      }
    }
  }
}
