.shop.navbar {
	margin-bottom: 0px;
}

.brand-board {
	height: 300px;
	background: green;
	padding: 20px;

	.shop-logo {
		width: 100px;
		height: 100px;
	}
}

.line-items {
  padding: 20px;
  margin-bottom: 20px;
  
  ul {
    padding-left: 0;

    .groups {
      margin: 20px 0;

      li.line-item {
        display: block;
        float: left;
        border-bottom: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        width: 33%;
        height: 80px;
        overflow: hidden;
        // line-height: 50px;

        a {
          // display: inline-block;
          // line-height: 50px;
          overflow: hidden;
          width: 100%;
          font-size: 12px;
          height: 82px;
          display: table-cell;
          vertical-align: middle;
        }

        &.first-row {
          border-top: 1px solid #e1e1e1;
        }

        &.first-col {
          border-left: 1px solid #e1e1e1;
        }
      }
    }
  }
}
