/*
 *= require bootstrap-launcher
 *= require nprogress
 *= require nprogress-bootstrap
 *= require _common/fileuploader
 *= require _common/checkbox
 *= require lib/tablesaw
 *= require ./chats/chat-item
 *= require_tree ./shop_admin
 *= require_self
*/

@import 'bootstrap-datetimepicker';
@import "bootsy";

body {
  padding-top: 50px;
  padding-bottom: 40px;
  background: #fff;
}

body[module="signup"] {
  background: #ddd;
}

.navbar-left > li {
  float: left;
}


.navbar-left > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand > img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  float: left;
}

.shop-admin-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;

  footer {
    display: none;
  }
}

.relative {
  position: relative;
  padding-top: 20px;
}

.content {
  position: absolute;
  left: 240px;
  -webkit-transition: left 0.45s ease-in-out 0s;
  transition: left 0.45s ease-in-out 0s;
  right: 0;
}

.shop.left-sidebar {
  position: absolute;
  -webkit-transition: left 0.45s ease-in-out 0s;
  transition: left 0.45s ease-in-out 0s;
  top: 21px;
}

.left-sidebar {
  width: 240px;
  left: 0;
  bottom: 0;
  top: 51px;
  z-index: 999;
  min-height: 300px;
  background: #FFFFFF;

  .nav .nav>li>a {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav > li > a {
    border-radius: 4px;
  }

  .nav > li.active > a, .nav > li.active > a:hover, .nav > li.active > a:focus {
    color: #fff;
    background-color: #337ab7;
  }

  .nav > li.divider {
    border-top: 1px solid #ccc;
  }

}

.shop-admin-overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #333333;
  opacity: 0.8;
  display: none;
}

@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}


@media (max-width: 768px) {
  .navbar-fixed-top {
    .navbar-left {
      float: left !important;
    }
  }

  .shop.left-sidebar {
    position: fixed;
    left: -300px;
  }

  .content {
    left: 0;
  }
}
