<div class="container-fluid">
  <div class="row">
  <% items.each_slice(2) do |couple_item| %>
      <% couple_item.each do |item| %>
        <div class="col-xs-6 col-sm-4 item">
          <%= link_to item_path(item), class: 'text-center' do %>
            <%= image_tag item.avatar, class: 'item-avatar' %>
          <% end %>
          <span class='text text-center'><%= item.name %></span>
        </div>
      <% end %>
  <% end %>
  </div>
</div>