<div class="container-fluid">
  <div class="row">
  <% shop_categories.each_slice(3) do |categories| %>
      <% categories.each do |cate| %>
        <div class="col-xs-4 col-sm-3 cate">
          <%= link_to shop_category_path(cate), class: 'text-center' do %>
            <%= cate.name %>
          <% end %>
          <span class='text text-center'><%= cate.name %></span>
        </div>
      <% end %>
  <% end %>
  </div>
</div>