.animate-shiver{
  animation: shiver 0.1s 5;
}

@keyframes shiver {
    0% {
      transform:rotate(0);
    }
    25% {
      transform:rotate(-10deg);
    }
    50% {
      transform:rotate(0);
    }
    75% {
      transform:rotate(10deg);
    }
    100% {
      transform:rotate(0);
    }
}

@keyframes reversal {
    0% {
      transform:scale(1);
      opacity: 1;
    }
    30% {
      transform:scale(0.8);
      opacity: 1;

    }
    100% {
      transform:scale(10);
      opacity: 0.8;
    }
}

@keyframes reversal-back {
    0% {
      transform:scale(10);
      opacity: 0.8;
    }
    70% {
      transform:scale(0.8);
      opacity: 1;

    }
    100% {
      transform:scale(1);
      opacity: 1;
    }
}
