.category-list {
  .box {
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;

    .actions {
      display: none;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  .box:hover {
    .actions {
      display: block;
    }
  }

  .thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 0px;
  }

  .thumbnail > img {
    width: 500px;
  }

  .thumbnail h2 {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -26px;
    font-size: 48px;
    /* margin-left: -14px; */
    width: 100%;
    text-align: center;
    cursor: text;
  }

  .thumbnail .title-input {
    position: absolute;
    top: 50%;
    // left: 20px;
    // right: 20px;
    width: 100%;
    text-align: center;
    font-size: 28px;
    border: 0px;
    border-bottom: 1px solid #ddd;
    margin-top: -26px;
    outline: none;
    background-color: transparent;
  }

  .thumbnail .second-title {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
}
