.category-list {
  .box {
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;

    .deleted {
      display: none;
      position: absolute;
      left: 10px;
      bottom: 10px;
    }

    .actions {
      display: none;
      position: absolute;
      bottom: 10px;
      right: 10px;

      .uploader-btn {
        display: inline-block;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        border-radius: 4px;
        // padding: 6px 12px;
        background-color: white;
        touch-action: manipulation;
        color: black;
      }

      .qq-upload-button {
        display: block;
        width: auto;
        padding: 6px 12px;
        text-align: center;
        background-color: transparent;
        border: 0px;
        color: inherit;
      }
    }
  }

  .box:hover {
    .deleted {
      display: block;
    }

    .actions {
      display: block;

      .uploader {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        z-index: 10;
        padding-top: 100px;
      }

    }
  }

  .thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 0px;
  }

  .thumbnail > img {
    width: 500px;
  }

  .thumbnail h2 {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -26px;
    font-size: 48px;
    /* margin-left: -14px; */
    width: 100%;
    text-align: center;
    cursor: text;
  }

  .thumbnail .title-input {
    display: none;
    position: absolute;
    top: 50%;
    // left: 20px;
    // right: 20px;
    width: 100%;
    text-align: center;
    font-size: 28px;
    border: 0px;
    border-bottom: 1px solid #ddd;
    margin-top: -26px;
    outline: none;
    background-color: transparent;
  }

  .thumbnail .second-title {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
}
