.delivers-manager {
  .header {
    position: relative;
    padding: 20px 0 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;

    .alert {
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .search-zone {
    z-index: 5;
    position: relative;
    // padding-left: 20px;

    .searcher {
      padding: 10px;
      width: 250px;
      margin-bottom: 0;
    }

    .search-results {
      position: absolute; 
      border-top: 1px solid #ddd; 
      border-left: 1px solid #ddd; 
      border-radius: 5px; 
      display: none;
      width: 100%;
      box-shadow: 10px 4px 5px;
      padding: 10px;
      padding-left: 0;
      left: 0;
      top: -11px;

      .replacer {
        height: 54px;
      }

      .results {
        background-color: white;
      }

      .item {
        float: left; 
        margin: 10px; 
        width:100px; 
        height: 100px;

        &.empty {
          width: 100%;
          padding: 20px;
        }

        .username {
          word-break: break-word;
        }
      }
    }
  }

  .delivers {
    .item {
      float: left; 
      margin: 10px; 
      width:100px; 
      height: 100px;

      .username {
        word-break: break-word;
      }
    }
  }
}