.express-templates {
  form.button_to {
    display: inline-block;
    padding-left: 10px;
  }
}

.short-input {
  width: 80px!important;
}

#special-area-express {
  display: block;
  padding: 10px 0;
}

.special-area-express-list {
  margin-top: 20px;
  border-top: 1px solid #dddddd;
}