.panel-category {
  .panel-heading {
    height: 52px;
    line-height: 52px;
    padding: 0 15px;
  }

  .panel-body {
    padding: 15px 0;
  }
}

.panel-items {
  .pagination {
    margin: 0px;
  }
}

.panel-item-edit {
  .panel-heading {
    .breadcrumb {
      margin-bottom: 0px;
      padding: 8px 0;
      display: inline-block;
    }
  }
}
