.profile-panel {
  .image-uploader {
    padding-left: 110px;
    position: relative;
    height: 110px;

    &>img {
      position: absolute;
      width: 100px;
      height: 100px;
      top: 0px;
      left: 0px;
    }
  }
}
