  #poster-img-uploader-btn{
    display: inline-block;
  }
  .theme-clear-btn{
    line-height: 34px;
    width: 105px;
    text-align: center;
    background: #080;
    color: #fff;
    border-bottom: 1px solid #DDD;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
  }
  .theme-clear-btn:hover{
    background-color: #060;
  }