.shop-category-list {
  .progress {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    display: none;
    margin: 0;
  }

  .qq-upload-list {
    display: none;
    visibility: hidden;
  }
}
