.shop-admin-container{
  // min-width: 898px;
  .btn-toolbar {
    margin-bottom: 10px;
  }

  .breadcrumb-container {
    line-height: 34px;
    padding-right: 90px;
    overflow: hidden;
    white-space: nowrap;

    .breadcrumb {
      overflow: hidden;
      white-space: normal;
      vertical-align: top;
    }
  }

  .list-group {
    margin-bottom: 0;
  }

  .item-filters {
    position: relative;
    padding-left: 150px;

    .btn-groups {
      position: absolute;
      left: 0;
      top: 0;
      width: 140px;
    }

    .search-button {
      padding: 0;

      .btn-search {
        display: block;
        background: transparent;
        border: none;
      }
    }
  }

  .outer-container, .item-filters {
    margin-top: 10px;
  }

  .category-panel {
    display: none;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 15px 0;
    margin-bottom: 10px;

    .items-search {
      display: inline-block;
      width: 150px;
      vertical-align: middle;
    }
  }

  .items-panel {
    .panel-heading {
      position: relative;
      padding: 15px;

      .btn-add {
        position: absolute;
        right: 10px;
        top: 7px;
        color: #FFFFFF;
      }
    }

    .panel-body {
      padding: 0;
      min-height: 250px;

      .table {
        margin-bottom: -1px;
      }

      .table > thead > tr > th {
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #DDDDDD;
        text-align: center;

        &:last-child {
          border-right: none;
        }
      }

      .table > tbody > tr > td {
        vertical-align: middle;
      }
    }

    .item-image {
      margin-right: 10px;
      width: 50px;
      height: 50px;
    }

    .panel-footer .pagination {
      margin: 0;

      > li{
        display: inline-block;
      }
    }
  }
}

@media (max-width: 768px) {
  .outer-container, .item-filters {
    padding-right: 0;
  }

  .outer-container {
    padding-left: 0;
  }
}
