.shop-items-container{
  .list-group {
    margin-bottom: 0;
  }

  .category-panel {
    .breadcrumb {
      display: inline-block;
      padding: 0;
      margin: 0 0 0 10px;
    }

    .category-col .list-group{
      height: 250px;
      background: #EEEEEE;
      overflow: auto;
      border-radius: 5px;
    }

    .items-search {
      display: inline-block;
      width: 150px;
      vertical-align: middle;
    }
  }

  .items-panel {
    .panel-heading {
      position: relative;
      padding: 15px;

      .btn-add {
        position: absolute;
        right: 10px;
        top: 7px;
        color: #FFFFFF;
      }
    }

    .panel-body {
      padding: 0;
      min-height: 150px;

      .table > thead > tr > th {
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #DDDDDD;
        text-align: center;

        &:last-child {
          border-right: none;
        }
      }
    }

    .panel-footer{
      height: 40px;
    }
  }
}
