.chat-item-avatar{
  position: absolute;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
}

// 选择shop theme 样式
.choose-shop-theme{
  .theme-btn{
    cursor: pointer;
    position: relative;

    &.active .glyphicon-ok{
      opacity: 1;
    }
    .glyphicon-ok{
      position: absolute;
      display: block;
      top: inherit;
      right: 0;
      bottom: 0;
      font-size: 3em;
      color: #080;
      opacity: 0;
      transition: all 1s;
    }
  }
  .thumbnail{
    margin-bottom: 5px;
    > img{
      width: 100%;
    }
  }
  .theme-name{
    margin-bottom: 20px;
  }
}

.shop-poster{
  .qq-upload-list{
    display: none;
  }
  #shop-poster-img{
    max-width: 90%;
    margin: 30px 0;
  }
}

.shop-signage-container {
  padding-bottom: 30px;
  position: relative;

  .signage-upload-btn {
    float: left;
  }

  .upload-notice {
    padding-left: 120px;
    line-height: 34px;
  }

  .qq-upload-list {
    display: none;
  }

  .progress {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    display: none;
    margin: 0;
  }
}


