<h1 class="page-header">商品中心</h1>

<div class="btn-toolbar" role="toolbar" aria-label="...">

</div>

<h1 class="page-header">属性配置</h1>

<div class="property-list">
  <%= render partial: "property_item", collection: @properties %>
</div>

<div>
  <button class='btn btn-default sync-es-brands'>同步ES品牌</button>
</div>

<script type="text/javascript">
  (function () {
    $('button.sync-es-brands').click(function (e) {
      $.post('<%= sync_es_brands_admins_industries_path %>')
    });
  })();
</script>