<h1 class="page-header">商品中心</h1>

<div class="btn-toolbar" role="toolbar" aria-label="...">

</div>

<h1 class="page-header">属性配置</h1>

<div class="property-list">
  <%= render partial: "property_item", collection: @properties %>
</div>

