<div class="chat-list">
  <div class="chat-content-wrap"></div>

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <form class="navbar-form navbar-left" role="search" onsubmit="return false;">
        <button type="submit" class="btn btn-default pull-right">发送</button>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="输入您要说的话..." name="chat-text">
        </div>
      </form>
    </div>
  </nav>
</div>

<script type="text/javascript">
  $(function() {
    var ownerId = "<%= @shop.owner_id %>",
        ownId = window.userSocket.userId,
        $list = $('.chat-content-wrap');

    userSocket.onPersonMessage(insertMessage);

    function insertMessage (message) {
      var senderId = message.senderId,
          isOwnSend = ownId === senderId,
          content = message.content,
          avatar = message.senderAvatar,
          username = message.senderLogin || '游客',
          toAddClass = isOwnSend ? 'you' : 'me',
          avatar = avatar === '' ? '../assets/images/avatar.gif' : avatar,
          htmlAry = ['<div class="chat ', toAddClass, '"><img src="', avatar, '">',
            '<h2>', username, '</h2><div class="bubble ', toAddClass, '"><p>',
            content, '</p></div></div>'];

      $(htmlAry.join('')).appendTo($list);
    }

    $('.chat-list button').click(function() {
      var $input = $("input[name='chat-text']"),
          text = $.trim($input.val()),
          channelId = 'p' + ownerId;

      $input.val('');

      if (text.length > 0) {
        var socket = window.userSocket;

        socket.publish(channelId, {
          'content': text,
          'attachs': {}
        });
      }
    });
  });
</script>
