<div class="chat-list">
	<div class="bubble you">
		<%= image_tag current_user.image.avatar_url %>
		<p>msg</p>
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container">
		<form class="navbar-form navbar-left" role="search">
		  <button type="submit" class="btn btn-default pull-right">Submit</button>
		  <div class="form-group">
		    <input type="text" class="form-control" placeholder="Search">
		  </div>
		</form>
	  </div>
	</nav>
</div>
