<%= content_for :module, :piano %>

<%= subject_render @subject, :homepage_header %>

<div class="promotions-list">
  <%= subject_render @subject, :promotion, partial: "promotion", collection: @promotions %>
	<%#= render partial: "promotion", collection: @promotions %>
</div>

<script type="text/javascript">
	var page = 1;
	var delayedTime = 200;
	var pulling = false;

	$(function() {
		var parseURL = window.parseURL;

		function displayLoading()  {
			$('.page-loading').text('正在载入...');
		}

		function clearLoading() {
			$('.page-loading').text('');
		}

		function loadingPromotions() {

			if (!pulling) {
				pulling = true;

				var url = [ 'promotions.json', $.param({ page: page++, inline: true }) ].join('?');
				displayLoading();

				$.get(url).then(function(data, status, e) {
					clearLoading();
					var promotions = data['promotions'].map(function(promotion) {
						return promotion.html;
					});

					$('.promotions-list').append(promotions);
					$(window).trigger('adjust:image');
				});

				setTimeout(function() {
					pulling = false;
				}, delayedTime);
			}
		}

		function scrollPage() {
			var $this = $(document),
          scrollTop = $(this).scrollTop(),
          $nav = $('.navbar-fixed-top'),
          prevScrollTop = $(this).data('scroll_top') || 0,
          opacity;

      if (scrollTop < 100) {
        var _opacity = $nav.css('opacity');
        opacity = +_opacity * 100 - (scrollTop - prevScrollTop) * 10 / 100;
        $this.data('scroll_top', scrollTop);
      } else {
        opacity = 90;
        $this.data('scroll_top', 90);
      }

      $nav.css('opacity', opacity / 100);
		}

		$(document).on('page:change', function(e) {
			var url = parseURL(e.target.URL);

      if (/promotions\/\d+\/chat/.test(url)) {
				$(document).on('scroll:bottom', loadingPromotions).off('scroll.page');
			} else {
				$(document).off('scroll:bottom').on('scroll.page', scrollPage);
				clearLoading();
			}
		});
	});

  $(document).on('page:load', function() {
    $(window).trigger('adjust:image');
  });
</script>
