<div class="promotions-list">
	<%= render partial: "promotion", collection: @promotions %>
</div>

<script type="text/javascript">
	var page = 1;
	var delayedTime = 200;
	var pulling = false;

	$(function() {
		var parseURL = window.parseURL;

		function displayLoading()  {
			$('.page-loading').text('正在载入...');
		}

		function clearLoading() {
			$('.page-loading').text('');
		}

		function loadingPromotions() {

			if (!pulling) { 
				pulling = true;

				var url = [ 'promotions.json', $.param({ page: page++, inline: true }) ].join('?');
				displayLoading();
				
				$.get(url).then(function(data, status, e) {
					clearLoading();
					var promotions = data['promotions'].map(function(promotion) {
						return promotion.html;
					});

					$('.promotions-list').append(promotions);
					$(window).trigger('adjust:image');
				});

				setTimeout(function() {
					pulling = false;
				}, delayedTime);			
			}
		}

		$(document).on('page:change', function(e) {
			var url = parseURL(e.target.URL);
			if (url.pathname === '/') {
				$(document).on('scroll:bottom', loadingPromotions);
			} else {
				$(document).off('scroll:bottom');
				clearLoading();
			}
		});
	})
</script>
