<%= content_for :module, :piano %>

<%= render "homepage_header", with: @subject %>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="promotions-list">
    <%= render partial: "promotion", collection: @promotions, with: @subject %>
  </div>
  <%#= render partial: "promotion", collection: @promotions %>
</div>

<script type="text/javascript">
  $(function() {
    var page = 1;
    var delayedTime = 200;
    var pulling = false;
    var per = 24;
    var allLoaded = <%= @promotions.length %> < per;

		var parseURL = window.parseURL;

		function displayLoading()  {
			$('.page-loading').text('正在载入...');
		}

		function clearLoading() {
			$('.page-loading').text('');
		}

		function loadingPromotions() {
			if (!pulling && !allLoaded) {
				pulling = true;

				var url = [ '/promotions.json', $.param({ page: ++page, inline: true, per: per }) ].join('?');
				displayLoading();

				$.get(url).then(function(data, status, e) {
					clearLoading();

          allLoaded = data['promotions'].length < per;
					var promotions = data['promotions'].map(function(promotion) {
						return promotion.html;
					});

					$('.promotions-list').append(promotions);
					$(window).trigger('adjust:image');
				});

				setTimeout(function() {
					pulling = false;
				}, delayedTime);
			}
		}

		function scrollPage() {
			var $this = $(document),
          scrollTop = $(this).scrollTop(),
          $nav = $('.navbar-fixed-top'),
          prevScrollTop = $(this).data('scroll_top') || 0,
          opacity;

      if (scrollTop < 100) {
        var _opacity = $nav.css('opacity');
        opacity = +_opacity * 100 - (scrollTop - prevScrollTop) * 10 / 100;
        $this.data('scroll_top', scrollTop);
      } else {
        opacity = 90;
        $this.data('scroll_top', 90);
      }

      $nav.css('opacity', opacity / 100);
		}

		// $(document).on('page:change', function(e) {
		// 	var url = parseURL(e.target.URL).pathname;

  //     if (url === '/' || url === '/promotions') {
  //       $(document).off('scroll.page');
  //     } else {
  //       $(document).on('scroll.page', scrollPage);
  //     }

  //     if (/promotions\/\d+\/chat/.test(url)) {
  //       $(document).off('scroll:bottom');
  //       clearLoading();
  //     } else {
		// 		$(document).on('scroll:bottom', loadingPromotions)
		// 	}
		// });
	});

  $(document).on('page:load', function() {
    $(window).trigger('adjust:image');
  });
</script>
