<%= content_for :module, :piano %>

<%= render partial: "homepage_header", with: @subject %>

<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="promotions-list">
      <%= render partial: "promotion", collection: @promotions, with: @subject %>
    </div>

    <%#= render partial: "promotion", collection: @promotions %>

  </div>
</div>
