<footer>
  <div class="container text-center">
    <span class="page-loading pull-right"></span>
    <p><%= raw Settings.app.footer %> <%= 'ver ' + PianoServer::VERSION unless Rails.env.production? %></p>
  </div>
</footer>
