.chat {
  footer {
    display: none;
  }
}

.chat-order {
  display: table;
  width: 100%;
  padding: 10px;
  background: #FFFFFF;

  .chat-image-wrap{
    display: table-cell;
    width: 50px;
    vertical-align: middle;

    .chat-order-image {
      width: 50px;
      height: 50px;
    }
  }

  .chat-order-title{
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 10px;
    word-break: break-all;
  }
}

.order-item-modify {
  border: 1px solid #5cb85c;
  box-shadow: inset 0 0 15px #5cb85c;

}

.main-content{
  position: absolute;
  top: 120px;
  bottom: 0;
  overflow: hidden;
  background: #FFFFFF;

  .chat-list{
    width: 100%;
  }

  &.show-order-items{
    .order-table-wrap {
      display: block;
    }

    .chat-list{
      border-left: 1px dashed #CCCCCC;
    }
  }
}

.order-table-wrap{
  position: absolute;
  padding: 0 10px;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  display: none;
  z-index: 1032;

  .chat-items{
    background: #FFFFFF;
  }

  .item-preview-url{
    width: 100px;
    height: 100px;
  }

  .list-group{
    font-size: 16px;
    margin-bottom: 0;
    margin-top: -1px;

    .dropdown-menu > li.selected {
      > a, >a:hover{
        background: #0088CC;
        color: #FFFFFF;
      }
    }

    &.first {
      margin-top: 0;

      .list-group-item:last-child{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.radius-bottom .list-group-item:last-child{
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

    &.last{
      .list-group-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &.radius-top .list-group-item:first-child{
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    &.item-list{
      .list-group-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      .list-group-item:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .list-group-item{
        &.open{
          border-radius: 4px;
          margin: 20px 0;

          .edit-fieldset{
            display: block;
          }
        }

        &.radius-bottom{
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        &.radius-top{
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
    }
  }

  .desc-value{
    float: right;
    width: 75%;
    text-align: right;

    .btn-add{
      padding: 3px 6px;
    }
  }

  .payment-menu{
    right: 0;
    min-width: 100px;
    left: auto;
  }

  .address-menu{
    right: 0;
    left: auto;
    max-width: 100%;
    min-width: 100px;
  }

  .order-item-brief{
    display: table;
    width: 100%;

    .order-item-left{
      display: table-cell;
      vertical-align: middle;
      width: 40px;

      .item-preview-url{
        width: 40px;
        height: 40px;
        border-radius: 5px;
      }
    }

    .order-item-center{
      display: table-cell;
      max-width: 0px;
      padding: 0 10px;

      h4 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      p{
        position: relative;
        font-size: 16px;

        .inventory{
          position: absolute;
          right: 0;
          top: 0;
          line-height: 22px;
        }
      }
    }

    .order-item-right{
      display: table-cell;
      width: 78px;
      font-size: 15px;
      vertical-align: middle;
      text-align: right;

      .remove-btn{
        cursor: pointer;

        &:hover{
          color: #FF2B2B;
        }
      }
    }
  }

  .edit-fieldset{
    border-top: 1px dashed #CCCCCC;
    display: none;

    .edit-item{
      margin-top: 10px;

      .edit-item-left{
        padding-left: 40px;
        position: relative;

        .field-name{
          position: absolute;
          left: 0;
          top: 0;
          line-height: 34px;
        }

        .input-group{
          width: 100%;
        }

        input[type="number"]{
          width: 100%;
          border-width: 0 0 1px 0;
          border-color: #CCCCCC;
          text-align: center;

          &:focus{
            border-width: 0 0 1px 0;
            outline: none;
          }
        }
      }

      .edit-item-right{
        line-height: 34px;
        padding: 0;
        clear: left;
        // -webkit-transition: color 0.25s ease-in-out 0;
        // transition: color 0.25s ease-in-out 0;
      }
    }

    .desc-value{
      width: 50%;
      padding: 0 20px;
      position: relative;

      .range-left{
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;

        &.glyphicon-yen{
          color: #999999;
        }
      }

      .range-right{
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
      }
    }
  }

  .add-item{
    line-height: 28px;
  }
  // padding: 10px;
  .order-buttons{
    margin: 20px 0;

    .btn-wrap {
      width: 50%;
      float: left;

      &.left{
        padding-right: 10px;
      }

      &.right{
        padding-left: 10px;
      }

      .btn-agrees, .btn-disagrees{
        width: 100%;
        padding: 5px 0;
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
      }

      .btn-agrees{
        background: #F12A39;
      }

      .btn-disagrees{
        background: #AC62F9;
      }
    }
  }
}

.chat-list {
	background-color: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 50px;
  right: 0;
	overflow-y: auto;
  overflow-x: hidden;
  z-index: 1031;

	.chat-inner {
		//padding: 10px;

    .message-list {
      position: relative;
      padding-top: 10px;
    }
  }


	.chat {
		width: 100%;
    position: relative;

    >img:first-child{
      border-radius: 50%;
    }

		&.me {
			padding-left: 75px;

			&>img:first-child {
				position: absolute;
				left: 10px;
				width: 40px;
				height: 40px;
			}
		}

		min-height: 75px;
		&> h2 {
			margin: 0px;
			font-size: 16px;
		}

		&.you {
			padding-right: 75px;

			&>h2 {
				text-align: right;
			}

			&>img:first-child {
				position: absolute;
				right: 10px;
				width: 40px;
				height: 40px;
			}
		}
	}

	.record-loading {
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #9F9F9F;

    .loading-icon{
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: image-url('waiting.gif');
      vertical-align: middle;
      margin-right: 3px;
    }
  }

  .load-more{
  	height: 30px;
    line-height: 30px;
    text-align: center;
    color: #9F9F9F;

  	&:hover{
  		color: #FF6363;
  		text-decoration: underline;
  		cursor: pointer;
  	}
  }

  .bubble-tip{
    position: fixed;
    bottom: 60px;
    width: 100%;
    text-align: center;
    background: #FFFFFF;
    z-index: 1032;

    .tip-text{
      display: inline-block;
      margin: 0 auto;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 6px #B2B2B2;
      max-width: 50%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.chat-navbar {
	.form-group {
		max-width: 100%;
		margin-right: 75px;
	}
}

@media (min-width: 1200px) {
  .main-content.show-order-items .chat-list{
    width: 50%;
    border-left: 1px dashed #CCCCCC;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .main-content.show-order-items .order-table-wrap{
    width: 100%;
  }
}

@media (max-width: 768px) {
	.navbar-form .form-group {
		display: block;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.navbar-form {
		display: block;
  	 	margin-top: 0px;
  		margin-bottom: 0px;
	}

  .main-content{
    width: 100%;

    &.show-order-items .chat-list{
      width: 100%;
      border-left: none;
    }
  }
}

@media (min-width: 768px) {
	.navbar-form {
		float: none !important;
		// display: block;
		// max-width: 100%;
	}

	.navbar-form .form-group {
		display: block;
		max-width: 100%;
	}

	.navbar-form .form-control {
		display: block;
		width: 100%;
	}
}
