.promotion-detail-container{
  margin-bottom: 30px;
  @media (max-width: 484px){
    padding-left: 0;
    padding-right: 0;
  }

  .reset-a {
    color: #333;
    text-decoration: none;
  }

  .promotion-detail-content {
    background: #FFFFFF;
  }

  .promotion-poster-image{
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    @media (max-width: 484px){
      width: 100%;
    }

    .promotion-poster {
      max-width: 100%;
      height: auto;
      width: 100%\9;
    }
  }

  .price-period {
    display: table;
    width: 100%;

    .price-desc {
      display: table-cell;
      background-color: #F12A39;
      color: #FFFFFF;
      width: 60%;
      white-space: nowrap;
      padding: 10px;

      .promotion-price {
        float: left;
        font-size: 2em;
        font-weight: 700;
        line-height: 1.5em;
        padding-right: 10px;
      }

      .dicount-desc{
        p {
          margin: 0;
          padding-top: 0.2em;
        }

        .desc-text{
          background: #DC0A29;
          display: inline-block;
          padding: 2px 5px 0;
          border-radius: 5px;
        }
      }
    }

    .period-desc{
      display: table-cell;
      vertical-align: middle;
      background: #F6D33C;
      color: #FF2B2B;

      .desc-wrap{
        padding: 0 10px;

        p{
          margin: 0;
        }
      }

      &.finished{
        background: #2A2A2A;
        font-size: 1.5em;
        text-align: center;
        color: #FFFFFF;
        white-space: nowrap;

        .desc-wrap {
          padding: 0;
        }
      }
    }
  }

  .bottom-infos-wrap {
    border-top: 1px solid #ddd;
    padding: 15px;
    margin-top: 0;
  }

  .promotion-options-wrap {
    margin-top: 0;
    padding: 15px;

    >.media-body {
      position: relative;
    }

    .option-group {
      margin-bottom: 15px;
    }

    .btn-danger {
      background: #FF2B2A;
      border-color: #FF2B2A;
    }

    .btn-warning {
      background: #FF962F;
      border-color: #FF962F;
    }

    .minus_plus_input {
      width: 60px;
    }

    .buy-buttons {
      position: absolute;
      bottom: 0;
      right: 16%;
    }

    .promotion-option-form {
      @media (min-width: 768) {
        padding-bottom: 50px;
      }
    }

    .right-infos-wrap {
      position: relative;
      width: 30%;
      padding: 0 15px 50px 15px;
      padding-right: 0;
      border-left: 1px solid #ddd;

      .right-fllow-wrap{
        bottom: 0;
        position: absolute;
        width: 100%;

        .follow,
        .follow-btn {
          display: block;
          padding: 12px 0;
          border: 1px solid #F12A39;
          color: #333;
        }
        .follow {
          margin-right: -15px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          background: #FFF2F2;
        }
        .follow-btn {
          text-decoration: none;
          margin-left: -16px;
          background: #F12A39;
          color: #fff;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          &:hover {
            background: #EF1626;
          }
        }
      }
    }
  }

  .title-contact{
    margin: 0;
    padding: 20px 15px;
    display: table;
    width: 100%;
    border-bottom: 1px solid #ddd;

    .promotion-title{
      display: table-cell;
      vertical-align: middle;
    }

    .promotion-favors, .promotion-likers{
      display: table-cell;
      width: 15%;
      text-align: center;
      vertical-align: middle;
      color: #666666;
      border-left: 1px solid #DDDDDD;

      p{
        margin-bottom: 0;
      }
    }
  }

  .shop-brief{
    width: 100%;
    padding: 15px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #CCCCCC;

    .shop-logo{
      float: left;
      width: 75px;
      height: 75px;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .shop-desc{
      margin-left: 90px;

      p{
        margin-bottom: 5px;
      }

      .btn-follow{
        background: #EC2A39;
        color: #FFF;
        padding: 2px 5px;
        border-radius: 2px;
        margin-left: 5px;
      }
    }
  }

  .product-brief{
    padding: 15px;
    .brief-row{
      .row-left{
        float: left;
        width: 70%;
      }

      .row-right{
        text-align: right;
        margin-left: 70%;
      }
    }
  }

  .discount-price{
    font-size: 1.5em;
    color: #F37C3F;
    font-weight: 700;
  }

  .discount-wrap{
    margin-left: 0.2em;
    background-color: #F37C3F;
    padding: 2px 2px 0;
    color: #FFFFFF;
  }
}

.detail-link-table-container{
  background: rgba(177, 177, 177, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #DDDDDD;
  z-index: 200;

  .link-table{
    display: table;
    width: 100%;
    height: 50px;
  }

  .contact-button{
    display: table-cell;
    width: 20%;
    text-decoration: none;
    color: #333;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    line-height: 100%;
    position: relative;

    .button-text{
      text-align: center;
      margin-top: 3px;
    }
  }

  .shop-cart {
    .glyphicon {
      font-size: 26px;
      color: #333;
    }
    .badge {
      position: absolute;
      background: rgba(66, 66, 66, 0.75);
      border: 1px solid #fff;
      left: 50%;
      top: 3px;
    }
  }

  .into-shop,
  .fav-button {
    border-right: 1px solid #DDDDDD;
  }

  .add-to-cart {
    background: #FF900E;
    color: #fff;
  }

  .into-shop{
    color: #333333;
  }

  .buy-now, .chat{
    color: #FFFFFF;
  }

  .buy-now{
    background-color: #FF4F00;
  }

  .chat {
    background-color: #F42B2B;
  }
}
