/**.promotion-wrap{
  padding: 0 5px;
}*/
$border-color: #CCCCCC;

.piano footer {
  position: static;
}

.promotions-list {
  .promotion-wrap {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.promotion-wrap:nth-child(odd) {
  border-right: 1px solid $border-color;
  overflow: hidden;
}

.promotion {
  background: #FFFFFF;
  //margin-bottom: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  //box-shadow: 0 2px 2px #DDDDDD;
  border-bottom: 1px solid $border-color;

  .promotion-image {
    height: auto;
    width: 100%;
  }

  a:hover {
    color: #ddd;
  }

  .type-flag {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
    text-align: center;
    font-size: 1.5em;

    img {
      width: 100%;
      height: 100%;
    }

    .type-text{
      line-height: 30px;
      color: #FFFFFF;
    }
  }

  .promotion-title{
    height: 2.6em;
    overflow: hidden;
  }

  .discount-wrap{
    margin-left: 0.2em;
    background-color: #F37C3F;
    padding: 2px 2px 0;
    color: #FFFFFF;
  }

  .provider-wrap{
    margin: 0 -10px;
    border-top: 1px solid $border-color;
    padding: 10px 10px 0;

    .provider{
      display: table;
      width: 100%;

      .provider-name{
        vertical-align: middle;
        display: table-cell;
      }

      .avatar-wrap{
        display: table-cell;
        width: 35px;

        .publish-avatar{
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  .price-board{
    background: #F12A39;
    padding: 5px;
    margin-bottom: 10px;

    .snap-up{
      float: right;
      color: #FFFFFF;
      vertical-align: top;

      &:visited{
        color: #FFFFFF;
      }

      &:hover{
        background: transparent;
      }
    }

    .prices{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #FFFFFF;
      font-size: 0.8em;
      font-family: Impact, Charcoal, sans-serif;

      .disount-price {
        font-weight: 700;
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .promotion-wrap{
    border-right: 1px solid $border-color;
    overflow: hidden;

    &:nth-child(4n) {
      border-right: none;
    }
  }
}
