<div class="container locations col-xs-12">
  <%= content_for :module, :location %>

  <div class="container">
    <%= render "form", locals: { location: @location } %>
  </div>
</div>

<script type="text/javascript">
  $(document).on('page:load', function() {
    $('.locations .city-group').china_city();
  });
</script>

<% if anonymous? %>
  <script type="text/javascript">
    $('form').on('submit', function(e) {
      e.preventDefault();

      var array = $(this).serializeArray(),
          contact = array[5].value,
          province_id = array[6].value,
          city_id = array[7].value,
          region_id = array[8].value,
          road = array[9].value,
          zipcode = array[10].value,
          contact_phone = array[11].value,

          province_name = $("#location_province_id  option:selected").text(),
          city_name = $("#location_city_id  option:selected").text(),
          region_name = $("#location_region_id  option:selected").text(),

          chatId = '<%= @location.chat_id %>',
          VALID_PHONE_REGEX = /^((\d{3,4}-\d{7,8}(-\d+)?)|((\+?86)?1\d{10}))$/g,
          VALID_CONTACT_REGEX = /^([\u4e00-\u9fa5]|[a-zA-Z0-9_]|[\uFF10-\uFF19])+$/,
          $errors = $('ul.error-messages'),
          errors = [],
          address_object;

      if (contact.length === 0) {
        errors.push('<li class="error-message">姓名不能为空字符</li>');
      } else {
        if (!VALID_CONTACT_REGEX.test(contact)) {
          errors.push('<li class="error-message">姓名是无效的</li>')
        }
      }

      if (province_name === "--省份--") {
        errors.push('<li class="error-message">省份不能为空字符</li>');
      }

      if (city_name === "--城市--") {
        errors.push('<li class="error-message">城市不能为空字符</li>');
      }

      if (region_name === "--地区--") {
        errors.push('<li class="error-message">地区不能为空字符</li>');
      }

      if (road.length === 0) {
        errors.push('<li class="error-message">地址不能为空字符</li>');
      }

      if (!VALID_PHONE_REGEX.test(contact_phone)) {
        errors.push('<li class="error-message">手机/座机号是无效的</li>');
      }

      $errors.html(errors.join(''));

      if (errors.length > 0) {
        return;
      }

      address_object = {
        'contact':contact,
        'province_id': province_id,
        'city_id': city_id,
        'region_id': region_id,
        'province_name': province_name,
        'city_name': city_name,
        'region_name':region_name,
        'road':road,
        'zipcode':zipcode,
        'contact_phone':contact_phone
      };

      LocalAddress.set(-new Date().getTime(), address_object);

      Turbolinks.visit('/chats/' + chatId);
    });
  </script>
<% end %>
