.delivery-addresses {
  
  margin-top:20px;
  margin-bottom: 0;
  background:#eee;

  .panel-heading{
    background: #fff;
  }

  .delivery-address {
    // border: 1px solid #ddd;
    height: 140px;
    margin: 15px;
    padding: 10px;
    float: left;
    position:relative;
    // width: 23%;
    // height: 73px;
    cursor: pointer;
    background:#fff;
    border: 4px solid transparent;
    border-image: 4 repeating-linear-gradient(-45deg, #ddd 0, #ddd 1em, transparent 0, transparent 2em,
                #ddd 0, #ddd 3em, transparent 0, transparent 4em);

    &.active {
      // border: 1px solid #c00;
      border-image: 4 repeating-linear-gradient(-45deg, red 0, red 1em, transparent 0, transparent 2em,
                #58a 0, #58a 3em, transparent 0, transparent 4em);
    }

    .title {
      border-bottom: 1px solid #ddd;
      font-size: 16px;
    }

    .detail{
      margin-top:7px;
    }

    .default-addr{
      position:absolute;
      right:1px;
      bottom:1px;

      .def-addr{
        background:rgba(0,0,0,0.5);
        color:white;
        padding:1px;
      }
    }

  }

  a.add-another-location, a.manage-locations {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
  }

  .add-new-location {
    margin: 20px 0;
  }

  .color-red{
    color:red;
  }

  .dropdown-transform{
    transform: rotate(90deg);
  }

}