<h1 class="page-header"><%= @parent.model_name.human %> &middot; <%= @parent.title || @parent.name %> <small>模版管理</small></h1>

<ul class="nav nav-tabs" role="tablist">
  <% @templates.each do |template| %>
    <li role="presentation">
      <%= link_to template.name, "##{template.name}", data: {toggle: "tab"}, role: "tab", 'aria-label' => template.name %>
    </li>
  <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <%= render partial: "template", collection: @templates, locals: { parent: @parent } %>

</div>
