<!-- 注册页面 -->
<%= content_for :module, "sign-mobile" %>

<header>
  <%= icon('menu-left back-btn')%>
  <img src="http://static.bootcss.com/www/assets/img/codeguide.png" class="header-img">
</header>

<div class="sign-container">
  <%= render 'regist' %>
</div>
