<!-- 手机登陆页面 -->

<%= content_for :module, 'sign-mobile' %>
<header>
  <img src="http://static.bootcss.com/www/assets/img/codeguide.png" class="header-img">
</header>

<div class="sign-container regist-container">
  <%= render 'regist' %>
</div>